{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
	
<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change your password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
              	{{ form_row(form.current_password) }}
              	{{ form_row(form.plainPassword) }}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              
			   	{{ form_row(form._token) }}
			   	<input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
			   	
			   	<a href="{{ url('fos_user_profile_show') }}" class="btn pull-right btn-default">Cancel</a>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
      </div>
</div>

{{ form_end(form) }}
