{% extends 'base.html.twig' %}

{% block title %}Edit view {{ view.name }} for {{view.contentType.name}}{% endblock %}
{% block pagetitle %}Edit view {{ view.name }} for {{view.contentType.name}}{% endblock %} 
{% block subtitle %}{% endblock %} 


{% block body %}

<div class="row">
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Edit view for {{view.contentType.name}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}
				<div class="box-body">
					{{ form_row(form.name) }}
					{{ form_row(form.icon) }}
					{{ form_row(form.options) }}
					

				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					{{ form_widget(form.save) }}
				</div>
			{{ form_end(form) }}

		</div>
		<!-- /.box -->
	</div>
</div>

{% endblock %} 


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'contenttype-index'
	}%}
	
<script type="text/javascript">
<!--

//-->

$(window).load(function() {


	$('#form_save').click(function(event){
		event.preventDefault();
		var formContent = $("form[name=form]").serialize();
		
		$.post("{{ url('view.edit', { id: view.id, _format: 'json' }) }}", $("form[name={{ form.vars.id }}]").serialize())
		  .done(function(message) {
			  var response = jQuery.parseJSON( message );

			  $('.has-error').removeClass('has-error');
			  
			  $(response.errors).each(function(index, item){
				  $('#'+item.propertyPath).parent().addClass('has-error');
			  });
		  })
		  .fail(function() {
			//alert( "The autosave returns an error! Please try to refresh the page." );
			$('#data-out-of-sync').modal('show') ;
		  })
		  .always(function() {
			globalWaitingResponse = false;
		});
	});
	
});


</script>
{% endblock %}	