{% trans_default_domain 'EMSCoreBundle' %}
{% extends '@EMSCore/base.html.twig' %}

{% block title %}{{ 'WYSIWYG options'|trans }}{% endblock %}

{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="fa fa-language"></i> {{ 'WYSIWYG options'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-6">
        <div>
            {%  set toolbar %}
                <a class="btn btn-primary" href="{{ path('ems_wysiwyg_profile_new') }}"><i class="fa fa-plus"></i> {{ add_label|default(formProfiles.vars.add_label)|trans }}</a>
            {%  endset %}

            {% form_theme formProfiles '@EMSCore/form/forms.html.twig' %}
            {{ form(formProfiles, {
                reorder_label: 'view.wysiwyg.index.reorder',
                toolbar: toolbar
            }) }}
        </div>
	</div>
    <div class="col-md-6">
        <div>
            {%  set toolbar %}
                <a class="btn btn-primary" href="{{ path('ems_wysiwyg_styles_set_new') }}"><i class="fa fa-plus"></i> {{ add_label|default(formStylesSet.vars.add_label)|trans }}</a>
            {%  endset %}

            {% form_theme formStylesSet '@EMSCore/form/forms.html.twig' %}
            {{ form(formStylesSet, {
                reorder_label: 'view.wysiwyg.index.reorder',
                toolbar: toolbar
            }) }}
        </div>
	</div>
</div>
{% endblock %}
