{% extends '@EMSCore/log/abstract.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}{{ 'log.view.title'|trans({'%created%': log.created|date(date_time_format)}) }}{% endblock %}

{% block body %}
    <div class="box box-default">
        <div class="box-body">
            {% if log.username|default(false) %}
                <dl>
                    <dt>{{ 'field.user'|trans({}, 'emsco-core') }}</dt>
                    {%  set displayName = log.username|emsco_display_name %}
                    <dd>{{ displayName }}{% if log.username != displayName%} ({{ log.username }}){% endif %}</dd>
                </dl>
            {% endif %}
            {% if log.impersonator|default(false) %}
                <dl>
                    <dt>{{ 'field.user_impersonator'|trans({}, 'emsco-core') }}</dt>
                    {%  set displayName = log.impersonator|emsco_display_name %}
                    <dd>{{ displayName }}{% if log.impersonator != displayName%} ({{ log.impersonator }}){% endif %}</dd>
                </dl>
            {% endif %}
            <dl>
                <dt>{{ 'field.date_created'|trans({}, 'emsco-core') }}</dt>
                <dd>{{ log.created|date(date_time_format) }}</dd>
            </dl>
            <dl>
                <dt>{{ 'field.message'|trans({}, 'emsco-core') }}</dt>
                <dd>{{ log.message }}</dd>
            </dl>
            <dl>
                <dt>{{ 'field.severity'|trans({}, 'emsco-core') }}</dt>
                <dd>{{ log.levelName }} ({{ log.level }})</dd>
            </dl>
            <dl>
                <dt>{{ 'field.channel'|trans({}, 'emsco-core') }}</dt>
                <dd>{{ log.channel }}</dd>
            </dl>
            <dl>
                <dt>{{ 'field.context'|trans({}, 'emsco-core') }}</dt>
                <dd><pre>{{ log.context|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></dd>
            </dl>
            <dl>
                <dt>{{ 'field.extra'|trans({}, 'emsco-core') }}</dt>
                <dd><pre>{{ log.extra|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></dd>
            </dl>
        </div>
        <div class="box-footer">
            {% include '@EMSCore/elements/post-button.html.twig' with {
                'url':  path('emsco_log_delete', {'log': log.id}),
                'label': 'action.delete'|trans({}, 'emsco-core'),
                'message': 'type.delete_confirm'|trans({'type': 'log'}, 'emsco-core'),
                'icon': 'trash',
                'btnType': 'outline-danger',
            }%}
        </div>
    </div>
{% endblock %}
