{% trans_default_domain 'EMSCoreBundle' %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if icon is defined %}<i class="{{ icon }}"></i>{% endif %}
            {% block title %}{% endblock title %}
            <a class="toggle-button pull-right" role="button" data-toggle="collapse"
               href="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}"
               data-toggle-contain="{{ 'hide'|trans }} <i class=&quot;fa fa-chevron-down&quot;></i>">
                {{ 'show'|trans }} <i class="fa fa-chevron-right"></i>
            </a>
        </h3>
    </div>
    <div class="panel-body collapse" id="{{ id }}">
        {% block body %}{% endblock body %}
    </div>
</div>
