{% trans_default_domain 'EMSCoreBundle' %}{{ form_start(form) }}
	<div class="box">
		<div class="box-header with-border">
			<i class="fa fa-language"></i><h3 class="box-title">{{ title|trans }}</h3>
			<div class="btn-group  pull-right">
				<a class="btn-add btn btn-xs btn-success"
					data-target="i18n-content"><i class="fa fa-plus-square"></i>
					{{ 'Translation' }}</a>
			</div>
		</div>
		<div class="box-body">
			{{ form_row(form.identifier) }} 
			{{ form_widget(form.content) }} 
		</div>
	
		<div class="box-footer">
			<div class="btn-group">
				<button type="submit" id="i18n_save" name="i18n_save" class="btn-primary btn-sm  btn">
					<span class="fa {{ actionIcon }}"></span>&nbsp;
					{{ action|trans }}
  				</button>
				<a class="btn btn-sm btn-danger" href="{{ path('emsco_i18n_index') }}">
					<i class="fa fa-remove"></i>
					{{ 'Cancel'|trans }}
				</a>
			</div>
		</div>
	</div>
{{ form_end(form) }} 