{% trans_default_domain 'emsco-twigs' %}

{% block sidebarMenu %}
    <li class="treeview">
        <a href="{{ menu.url }}"{% if menu.color %} class="text-{{ menu.color }}"{% endif %}>
            <i class="{{ menu.icon }}"></i>&nbsp;<span>{{ menu.label }}</span>
            {% if menu.hasBadge %}
                <span class="label {{ menu.color ? 'bg-'~menu.color : 'label-primary' }} pull-right-container">{{ menu.badge }}</span>
            {% endif %}
        </a>
    </li>
{% endblock sidebarMenu %}