{% extends 'base.html.twig' %}

{% block title %}Search engine: {{ results.hits.total }} results{% endblock %}
{% block pagetitle %}
	Search
{% endblock %} 
{% block subtitle %}<small><span class=" badge">{{ results.hits.total }}</span></small>{% endblock %} 



{% block body %}

<div class="row">
	<div id="search-page" class="col-md-12">
		{% include "elasticsearch/search-form-filter.html.twig" with {
			form: form,
		} %}
	</div>
	
	<div id="search-page" class="col-md-9">
		{% if results.hits.total > 0 %}
		<div class="box">
			
			{% if lastPage > 1 %}
				<div class="box-header">
				
			
				
				{% include 'elements/pagination.html.twig' with {
					'lastPage': lastPage,
					'currentPage': page,
					'currentFilters': app.request.query,
					'paginationPath': paginationPath,
					'showAlwaysFirstAndLast': false
				} %}
				</div>
			{% endif %}
			<div class="box-body">
			{% for result in results.hits.hits %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<span class="text-{{ attribute(indexes, result._index).color }}">
				 	{{ attribute(indexes, result._index).name|humanize }} 
			  	</span>
			  	|
			  	{% if attribute(types, result._type) is defined %}
			  		<span class="text-{{ attribute(types, result._type).color }}">
					  	<i class="{{ attribute(types, result._type).icon }}"></i> 
					  	{{ attribute(types, result._type).singularName|humanize }} | 
					  	
					  	
					  	{% set contentType=attribute(types, result._type) %}
						{% if (contentType.labelField and attribute(result._source, contentType.labelField)  is defined ) %}
							{{ attribute(result._source, contentType.labelField) }} <small>({{ result._id }})</small>
						{% else %}
							{{ result._id }}
						{% endif %}
			  		</span>
			  	{% else %}
				  	<i class="fa fa-question"></i> 
				  	{{ result._type|humanize }} | {{ result._id }}
			  	{% endif %}
			  
			  
				{#<span class=" badge pull-right">{{ (result._score*100)|round }}</span>#}
			  </div>
			  	{% if result.highlight is defined and result.highlight %}
				  	<div class="panel-body">
				  		<div class="col-xs-12">
					  		{{ result.highlight._all.0|e|replace({'&lt;em&gt;': '<em>', '&lt;/em&gt;': '</em>'})|raw }}
				  		</div>
			  		</div>
			  	{% endif %}
			  	{% if attribute(types, result._type) is defined and attribute(types, result._type).indexTwig %}
			  		<div class="panel-body">
					  	<div class="col-xs-12">
					  		{{ 
								attribute(types, result._type).indexTwig|generate_from_template({
									environment: attribute(indexes, result._index),
									contentType: attribute(types, result._type),
									object: result,
									source: result._source
								})|raw
							}}
				  		</div>
					</div>
			  	{% endif %}
			  		<div class="box-footer">
			  			{% if attribute(types, result._type) is defined %}
						  	{% include 'elements/object-toolbar.html.twig' with {
								environment: attribute(indexes, result._index),
								contentType: attribute(types, result._type),
								object: result,
							}%}
						{% else %}
						  	{% include 'elements/object-toolbar.html.twig' with {
								environment: attribute(indexes, result._index),
								contentType: null,
								object: result,
							}%}
						{% endif %}
					</div>
			</div>			

			{% endfor %}
			</div>
			{% if lastPage > 1 %}
				<div class="box-footer">
				{% include 'elements/pagination.html.twig' with {
					'lastPage': lastPage,
					'currentPage': page,
					'currentFilters': app.request.query,
					'paginationPath': paginationPath,
					'showAlwaysFirstAndLast': false
				} %}
				</div>
			{% endif %}
		</div>
	</div>
	<div id="search-facets" class="col-md-3">
		
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-sitemap"></i> Content types</h3>
			</div>
			<div class="box-body">
				<ul class="list-group">
				
				{% set cleanedFilters = [] %}
				{% if currentFilters.all.search_form is defined %}
					{% for key, filter in currentFilters.all.search_form %}
						{% if key != 'contentTypes' %}
							{% set cleanedFilters = cleanedFilters|merge({(key): filter}) %}
						{% endif %}
					{% endfor %}
					{% set cleanedFilters = {search_form: cleanedFilters} %}
				{% else %}
					{% set cleanedFilters = currentFilters.all %}
				{% endif %}
				
				{% for index in results.aggregations.types.buckets %}
					<li class="list-group-item">
						{% if attribute(types, index.key) is defined %}
								<a href="{{ path(paginationPath, cleanedFilters|merge({'search_form[contentTypes][0]': index.key, page: 1})) }}" class="text-{{ attribute(types, index.key).color }}">
									<i class="{{ attribute(types, index.key).icon }}"></i>
									{% if index.doc_count >1  %}
										{{ attribute(types, index.key).pluralName }} 
									{% else %}
										{{ attribute(types, index.key).singularName }} 
									{% endif %}
									<span class=" badge pull-right bg-{{ attribute(types, index.key).color }}">{{ index.doc_count }}</span>
								</a>
						{% else %}
							<a href="{{ path(paginationPath, app.request.query|merge({'search_form[contentTypes][0]': index.key, page: 1})) }}" class="text-black">
								<i class="fa fa-question"></i>
								{{ index.key|humanize }}
								<span class=" badge pull-right">{{ index.doc_count }}</span>
							</a>
						{% endif %}
					</li>
				{% endfor %}
					{% if results.aggregations.types.sum_other_doc_count > 0 %}
						<li class="list-group-item">
							<i class="fa fa-question"></i>
							Other
							<span class=" badge pull-right">{{ results.aggregations.types.sum_other_doc_count }}</span>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		<div class="box">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-database"></i> Environments</h3>
			</div>
			<div class="box-body">
				<ul class="list-group">
				
				{% set cleanedFilters = [] %}
				{% if currentFilters.all.search_form is defined %}
					{% for key, filter in currentFilters.all.search_form %}
						{% if key != 'environments' %}
							{% set cleanedFilters = cleanedFilters|merge({(key): filter}) %}
						{% endif %}
					{% endfor %}
					{% set cleanedFilters = {search_form: cleanedFilters} %}
				{% else %}
					{% set cleanedFilters = currentFilters.all %}
				{% endif %}
				
					{% for index in results.aggregations.indexes.buckets %}
						<li class="list-group-item">
							<a href="{{ path(paginationPath, cleanedFilters|merge({'search_form[environments][0]': attribute(indexes, index.key).name})) }}" class="text-{{ attribute(indexes, index.key).color }}">
								{{ attribute(indexes, index.key).name|humanize }} 
								<span class=" badge pull-right bg-{{ attribute(indexes, index.key).color }}">
									{{ index.doc_count }}
								</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
		{% if is_granted('ROLE_PUBLISHER') and body is defined and form.environments.vars.value|length == 1  and form.contentTypes.vars.value|length == 1 and form.environments.vars.value.0|get_environment.managed and results.hits.total > 1 %}
			<div class="col-md-12">
				<div class="box">
					<div class="box-footer with-border">
						<div class="btn-group">
						  	{% include 'elements/get-button.html.twig' with {
								'url':  path('search.publish', app.request.query.all ),
								'label': 'Publish '~results.hits.total~' '~form.contentTypes.vars.value.0|get_content_type.pluralName,
								'icon': 'glyphicon glyphicon-open'
							}%}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

</div>
{% endblock %} 

{% block javascripts %}

	{% if searchId  %}
		{% include 'app/menu.html.twig' with {
			'item':  'search-preset-'~searchId
		}%}
	{% elseif form.contentTypes.vars.value|length == 1 %}
		{% include 'app/menu.html.twig' with {
			'item':  'data-index-' ~ attribute(types, form.contentTypes.vars.value.0).id
		}%}
	{% elseif results.aggregations is defined and results.aggregations.types.buckets|length == 1 %}
		{% include 'app/menu.html.twig' with {
			'item':  'data-index-' ~ attribute(types, results.aggregations.types.buckets.0.key).id
		}%}
	{% endif %}
	
	{% include 'elasticsearch/search-javascript-filter.html.twig' %}
{% endblock %}	