{% extends 'base.html.twig' %}


{% block title %}Elasticsearch cluster's status{% endblock %}
{% block pagetitle %}Status of the cluster{% endblock %} 
{% block subtitle %}<small>Life inside a cluster</small>{% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="fa fa-cubes"></i> Elasticsearch</li>
   		<li class="active">Status</li>
   	</ol>
{% endblock %}


{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box box-solid">
			<div class="box-header with-border bg-{{ status.status }}">
				<h4 class="box-title">
						<i
							class="icon fa fa-cubes fa-2x"></i>
						Cluster name: <strong>{{ status.cluster_name }}</strong>
				</h4>
			</div>
			<div class="box-body ">
				<ul class="list-group">
					<li class="list-group-item">Number of nodes <span
						class=" badge bg-{{ status.status }}">{{ status.number_of_nodes }}</span></li>
					<li class="list-group-item">Number of data nodes <span
						class=" badge bg-{{ status.status }}">{{
							status.number_of_data_nodes }}</span></li>
					<li class="list-group-item">Active primary shards <span
						class=" badge bg-{{ status.status }}">{{
							status.active_primary_shards }}</span></li>
					<li class="list-group-item">Active shards <span
						class=" badge bg-{{ status.status }}">{{ status.active_shards }}</span></li>
					<li class="list-group-item">Relocating shards <span
						class=" badge bg-{{ status.status }}">{{ status.relocating_shards
							}}</span></li>
					<li class="list-group-item">Initializing shards <span
						class=" badge bg-{{ status.status }}">{{
							status.initializing_shards }}</span></li>
					<li class="list-group-item">Unassigned shards <span
						class=" badge bg-{{ status.status }}">{{ status.unassigned_shards
							}}</span></li>
					<li class="list-group-item">Delayed unassigned shards <span
						class=" badge bg-{{ status.status }}">{{
							status.delayed_unassigned_shards }}</span></li>
					<li class="list-group-item">Number of pending tasks <span
						class=" badge bg-{{ status.status }}">{{
							status.number_of_pending_tasks }}</span></li>
					<li class="list-group-item">Number of in flight fetch <span
						class=" badge bg-{{ status.status }}">{{
							status.number_of_in_flight_fetch }}</span></li>
					<li class="list-group-item">Task max waiting in queue <span
						class=" badge bg-{{ status.status }}">{{
							status.task_max_waiting_in_queue_millis }} ms</span></li>
					<li class="list-group-item">Active shards percent as number <span
						class=" badge bg-{{ status.status }}">{{
							status.active_shards_percent_as_number }}</span></li>

				</ul>
			</div>
		</div>

	</div>
</div>
{% endblock %}


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'elasticsearch-status'
	}%}
{% endblock %}	

