{% extends 'base.html.twig' %} 

{% block title %} {{ 'I18N edit'|trans }} {%endblock %}
{% block pagetitle %} {{ 'I18N edit'|trans }} {% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ url('i18n_index') }}"><i class="fa fa-language"></i> {{ 'I18N'|trans }}</a></li>
   		<li class="active">{{ 'I18N edit'|trans }} </li>
   	</ol>
{% endblock %}

{% block body %}
	{% include "i18n/form.html.twig" with {
		form: edit_form,
		title: 'I18N edit',
		action: 'Save',
		actionIcon: 'fa-save'
	} %}
{% endblock %}


{% block javascripts %}
	{% include 'i18n/javascript.html.twig' with {
		'item':  'i18n-index'
	}%}
{% endblock %}	