{% extends 'base.html.twig' %}

{% block title %}List templates for {{ contentType.name }}{% endblock %}
{% block pagetitle %}List templates for content type {{ contentType.name }}{% endblock %} 


{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box ">
			<div class="box-header with-border">
				<i class="fa fa-file-text-o"></i>
				<h3 class="box-title">Templates for content type {{ contentType.name }}</h3>
				<div class="btn-group  pull-right">
					<a class="btn btn-xs btn-primary" href="{{ url('template.add', {'type':contentType.name }) }}"><i class="fa fa-plus"></i> Add template</a>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive">
				<table class="table table-condensed table-striped">
					<tbody>
						<tr>
							<th class="text-center" style="width: 10px">#</th>
							<th class="text-center" style="width: 20px">Icon</th>
							<th>Name</th>
							<th>Type</th>
							<th>Action</th>
						</tr>
						{% for template in contentType.templates %}
							<tr>
								<td class="text-center">{{ loop.index }}.</td>
								<td class="text-center"><i class="{% if template.icon %}{{ template.icon }}{% else %}fa fa-file-text-o{% endif %}"></i></td>
								<td>{{ template.name }}</td>
								<td>{{ template.renderOption|humanize }}</td>
								<td>
								
									<div class="btn-group">
										{% include 'elements/get-button.html.twig' with {
											'url':  path('template.edit', {'id': template.id}),
											'label': 'Edit',
											'icon': 'pencil'
										}%}
										{% include 'elements/post-button.html.twig' with {
											'url': path('template.remove', {'id': template.id}),
											'message': 'Delete the template ' ~ template.name ~ ' ?',
											'label': 'Delete',
											'icon': 'trash'
										}%}
				                    </div>
								
              
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>

			</div>
			<!-- /.box-body -->
		</div>
	</div>
</div>
{% endblock %} 


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'contenttype-list'
	}%}
{% endblock %}	
