{% extends 'EMSCoreBundle::base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'Edit an Filter'|trans }}{% endblock %}
{% block pagetitle %}{{ 'Edit an Filter'|trans }}{% endblock %} 
{% block subtitle %}<small>{{ 'expert mode'|trans }}</small>{% endblock %}
{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('ems_filter_index') }}"><i class="fa fa-filter"></i> {{ 'Filters'|trans }}</li></a>
		<li>{{ 'Edit an filter'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}

    {% include "EMSCoreBundle:filter:form.html.twig" with {
    	form: form,
    	label: 'Edit a filter',
    } %}

{% endblock %}

{% block javascripts %}

    {% include "EMSCoreBundle:filter:form_js.html.twig" with {
    } %}

{% endblock %}