{% trans_default_domain 'EMSCoreBundle' %}

{%  macro renderDataField(dataField, compare, compareRawData) %}
{% import _self as macros %}
	{{ macros|macro_fct(dataField.fieldType.type|replace({'\\': '_'}), dataField, compare, compareRawData) }}
	{{ macros.messages(dataField) }}
{% endmacro %}


{%  macro messages(dataField) %}
	{% if dataField.messages|length > 0 %}
		<div class="callout callout-warning">
			{% if dataField.messages|length == 1 %}
	    		<p>{{ dataField.messages.0 }}</p>
	    	{% else %}
	    		<ul>
	    		{% for message in dataField.messages %}
	    			<li>{{ message }}</li>
	    		{% endfor %}
	    		</ul>
	    	{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_CopyToFieldType(dataField, compare, compareRawData) %}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_UrlAttachmentFieldType(dataField, compare, compareRawData) %}

	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="{% if dataField.fieldType.displayOptions.icon is defined %}{{ dataField.fieldType.displayOptions.icon }}{% else %}fa fa-file-o{% endif %}"></i> 				
				{% if dataField.fieldType.displayOptions.label is defined %}
					{{ dataField.fieldType.displayOptions.label }}
				{% else %}
					{{ dataField.fieldType.name }}
				{% endif %}
		</h3>
	</div>
	<div class="panel-body" >
		{% if dataField.rawData and dataField.rawData._url is defined %}
			<ul>

				{% if dataField.rawData._url is defined and dataField.rawData._url %}
					{% if compare %}
						<li><strong>URL:</strong> {{ diff_text(dataField.rawData._url, compare, '_url', attribute(compareRawData, dataField.fieldType.name) is defined ? attribute(compareRawData, dataField.fieldType.name) : null ) }}</li>
					{% else %}
    					<li><a href="{{ dataField.rawData._url }}" target="_blank">URL: {{ dataField.rawData._url }}</a></li>
					{% endif %}
					{% if dataField.rawData._size is defined %}
						<li><strong>Size:</strong> {{ dataField.rawData._size }}</li>
    				{% endif %}
    			{% else %}
    				<li>{{ 'Not defined'|trans }}</li>
    			{% endif %}
			</ul>
		{% endif %}
		
	</div>
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_FileAttachmentFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	{{ macros.EMS_CoreBundle_Form_DataField_AssetFieldType(dataField, compare, compareRawData) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_IndexedAssetFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	{{ macros.EMS_CoreBundle_Form_DataField_AssetFieldType(dataField, compare, compareRawData) }}
{% endmacro %}


{% macro EMS_CoreBundle_Form_DataField_AssetFieldType(dataField, compare, compareRawData) %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="{% if dataField.fieldType.displayOptions.icon is defined %}{{ dataField.fieldType.displayOptions.icon }}{% else %}fa fa-file-o{% endif %}"></i> 				
				{% if dataField.fieldType.displayOptions.label is defined %}
					{{ dataField.fieldType.displayOptions.label }}
				{% else %}
					{{ dataField.fieldType.name }}
				{% endif %}
		</h3>
	</div>
    {% set doCompare = false %}
    {% set compareColor = '' %}
    {% set showA = true %}
    {% set showB = false %}
	{% if compare %}
        {% if dataField.rawData and dataField.rawData.sha1 is defined and attribute(compareRawData, dataField.fieldType.name) is defined and attribute(compareRawData, dataField.fieldType.name).sha1 is defined %}


			{% if dataField.rawData.sha1 != attribute(compareRawData, dataField.fieldType.name).sha1 %}
                {% set doCompare = true %}
                {% set compareColor = 'orange' %}
                {% set showB = true %}
			{% endif %}
		{% elseif dataField.rawData and dataField.rawData.sha1 is defined %}
            {% set doCompare = true %}
            {% set compareColor = 'green' %}
		{% else %}
            {% set doCompare = true %}
            {% set compareColor = 'red' %}
            {% set showA = false %}
            {% set showB = true %}
		{% endif %}
	{% endif %}

	{% if showA %}
		<div class="panel-body{% if showA and showB %} col-md-6{% endif %} bg-{{ compareColor }}" >
			{% if dataField.rawData and dataField.rawData.sha1 is defined %}
				{% if dataField.rawData.sha1 and dataField.rawData.mimetype starts with 'image/' %}
					{% set path = path('ems.file.view', {'sha1':dataField.rawData.sha1, 'type':dataField.rawData.mimetype, 'name':dataField.rawData.filename }) %}
					{% if dataField.fieldType.displayOptions.imageAssetConfigIdentifier is defined and dataField.fieldType.displayOptions.imageAssetConfigIdentifier %}
						{% set path = path('ems_asset_processor', {'hash':dataField.rawData.sha1, 'processor': dataField.fieldType.displayOptions.imageAssetConfigIdentifier, 'type':dataField.rawData.mimetype, 'name':dataField.rawData.filename }) %}
					{% endif %}
				{% if doCompare %}
					<ins class="diffmod">
                {% endif %}
				<img src="{{ path }}" class="img-responsive" alt="Image of the field {{ dataField.fieldType.name }}">
				{% if doCompare %}
					</ins>
				{% endif %}
				{% else %}
						<strong>
                            {% if doCompare %}
								<ins class="diffmod">
							{% endif %}
							{{ dataField.rawData.filename }}
                            {% if doCompare %}
								</ins>
							{% endif %}
						</strong>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
    {% if showB %}

			<div class="panel-body{% if showA and showB %} col-md-6{% endif %} bg-{{ compareColor }}" >
			{% if attribute(compareRawData, dataField.fieldType.name).mimetype starts with 'image/' %}
				{% set path = path('ems.file.view', {'sha1':attribute(compareRawData, dataField.fieldType.name).sha1, 'type':attribute(compareRawData, dataField.fieldType.name).mimetype, 'name':attribute(compareRawData, dataField.fieldType.name).filename }) %}
				{% if dataField.fieldType.displayOptions.imageAssetConfigIdentifier is defined and dataField.fieldType.displayOptions.imageAssetConfigIdentifier %}
					{% set path = path('ems_asset_processor', {'hash':attribute(compareRawData, dataField.fieldType.name).sha1, 'processor': dataField.fieldType.displayOptions.imageAssetConfigIdentifier, 'type':attribute(compareRawData, dataField.fieldType.name).mimetype, 'name':attribute(compareRawData, dataField.fieldType.name).filename }) %}
				{% endif %}
				<del class="diffmod">
					<img src="{{ path }}" class="img-responsive" alt="Image of the field {{ dataField.fieldType.name }}">
				</del>
			{% else %}
				<strong>
					<del class="diffmod">{{ attribute(compareRawData, dataField.fieldType.name).filename }}</del>
				</strong>
			{% endif %}
			</div>
    {% endif %}
	<div class="panel-footer" >
		{% if dataField.rawData and dataField.rawData.sha1 is defined and dataField.rawData.sha1 %}
	    	{% set tempId = dataField.fieldType.name~'_'~random() %}
			<div class="btn-group">
    			<button type="button" class="btn btn-small btn-primary asset-details" data-toggle="modal" data-target="#indexed-details-revision_{{ tempId }}">
                	<i class="fa fa-info"></i>
                    {{ 'Info'|trans }}
                </button>
				<a href="{{ path('file.download', {'sha1':dataField.rawData.sha1, 'type':dataField.rawData.mimetype, 'name':dataField.rawData.filename }) }}" class="btn btn-small btn-primary"><i class="fa fa-download"></i>&nbsp;{{'Download'|trans}}</a>
				<a href="{{ path('ems.file.view', {'sha1':dataField.rawData.sha1, 'type':dataField.rawData.mimetype, 'name':dataField.rawData.filename }) }}" class="btn btn-small btn-primary"><i class="fa fa-eye"></i>&nbsp;{{'View'|trans}}</a>
			</div>
			<div class="modal" tabindex="-1" role="dialog" id="indexed-details-revision_{{ tempId }}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            		<h4 class="modal-title" id="myModalLabel">{{ 'Asset details' }}</h4>
                  </div>
                  <div class="modal-body raw-view">
                  	<ul class="list-group">
                      	<li class="list-group-item leaf-item">
                      		<strong>{{ 'Hash signature'|trans }}</strong>
                      		{{ dataField.rawData.sha1 }}
                      	</li>
    					{% if dataField.rawData._title is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Title : '|trans }}</strong>
                          		{{ dataField.rawData._title }}
                          	</li>
    					{% endif %}
    					{% if dataField.rawData.filesize is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Size : '|trans }}</strong>
                          		{{ dataField.rawData.filesize|number_format(0, ',', '.') }} bytes
                          	</li>
    					{% endif %}
                      	<li class="list-group-item leaf-item">
                      		<strong>{{ 'MIME Type : '|trans }}</strong>
                      		{{ dataField.rawData.mimetype }}
                      	</li>
    					{% if dataField.rawData._date is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Date : '|trans }}</strong>
                          		{{ dataField.rawData._date }}
                          	</li>
    					{% endif %}
    					{% if dataField.rawData._author is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Author : '|trans }}</strong>
                          		{{ dataField.rawData._author }}
                          	</li>
    					{% endif %}
    					{% if dataField.rawData._language is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Language : '|trans }}</strong>
                          		{{ dataField.rawData._language }}
                          	</li>
    					{% endif %}
    					{% if dataField.rawData._content is defined %}
                          	<li class="list-group-item leaf-item">
                          		<strong>{{ 'Content : '|trans }}</strong><br>
                          		{{ dataField.rawData._content|nl2br }}
                          	</li>
    					{% endif %}
                  	</ul>
                  	<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
		{% endif %}

        {% if doCompare and showB %}
			<a href="{{ path('ems.file.view', {'sha1':attribute(compareRawData, dataField.fieldType.name).sha1, 'type':attribute(compareRawData, dataField.fieldType.name).mimetype, 'name':attribute(compareRawData, dataField.fieldType.name).filename }) }}" class="btn btn-small btn-primary"><i class="fa fa-history"></i>&nbsp;{{'View Previous'|trans}}</a>
        {% endif %}
	</div>
</div>
{% endmacro %}


{% macro EMS_CoreBundle_Form_DataField_CollectionFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	{% set collapsible = dataField.fieldType.displayOptions.collapsible|default(false) %}
	{% set compareCollectionRawData = (attribute(compareRawData, dataField.fieldType.name) is defined?attribute(compareRawData, dataField.fieldType.name):null) %}
	{% set diffCount = dataField.children|length - compareCollectionRawData|length %}

	<div class="panel panel-default {% if collapsible %}collapsible-collection{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if dataField.fieldType.displayOptions.icon is defined %}
					<i class="{{ dataField.fieldType.displayOptions.icon }}"></i>
				{% endif %}
				{% if dataField.fieldType.displayOptions.label is defined %}
					{{ dataField.fieldType.displayOptions.label }}
				{% else %}
				{% endif %}
				({{ dataField.fieldType.name }})
				{% if collapsible %}
                    <div class="pull-right">
                        <div class="btn-group toggle-group" role="group">
                            <button type="button" title="collapse" aria-expanded="false" class="btn btn-sm button-collapse"></button>
                            <button type="button" title="collapse all" aria-expanded="false" class="btn btn-sm button-collapse-all"></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
				{% endif %}
			</h3>
			{% if compare %}
				{% if diffCount < 0 %}
					<del class="text-red">{{ 'view.macros.data-field-type.collection_removed_items'|transchoice(-diffCount, {'%singular%': 'item', '%plural%': 'items'}) }}</del>
				{% elseif diffCount > 0 %}
					<ins class="text-green">{{ 'view.macros.data-field-type.collection_added_items'|transchoice(diffCount, {'%singular%': 'item', '%plural%': 'items'}) }}</ins>
                {% endif %}
            {% endif %}
		</div>
		<div class="panel-body {% if collapsible %}collapse{% endif %}">
			{% for idx, child in dataField.children %}
				<div class="{% if dataField.fieldType.displayOptions.itemBootstrapClass is defined and dataField.fieldType.displayOptions.itemBootstrapClass %}{{ dataField.fieldType.displayOptions.itemBootstrapClass }}{% else %}col-md-12{% endif %}">
                    <div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{% if dataField.fieldType.displayOptions.icon is defined %}
									<i class="{{ dataField.fieldType.displayOptions.icon }}"></i> 
								{% endif %}
								{% if dataField.fieldType.displayOptions.singularLabel is defined %}
									{{ dataField.fieldType.displayOptions.singularLabel }}
								{% endif %}
								#{{ loop.index0 }}
								({{ dataField.fieldType.name }}.{{ loop.index0 }})
                                {% if collapsible %}
                                    <div class="pull-right">
                                        <div class="btn-group" role="group">
                                            <button type="button" title="collapse" aria-expanded="false" class="btn btn-sm button-collapse"></button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
								{% endif %}
							</h3>
						</div>
						<div class="panel-body container-fluid {% if collapsible %}collapse{% endif %}">
							<div class="row">
								{% for grandchild in child.children %}
									<div class="{% if grandchild.fieldType.displayOptions.class is defined and grandchild.fieldType.displayOptions.class  %}{{ grandchild.fieldType.displayOptions.class }}{%else%}col-md-12{% endif %}">
										{{ macros|macro_fct(grandchild.fieldType.type|replace({'\\': '_'}), grandchild, compare, (attribute(compareCollectionRawData, idx) is defined?attribute(compareCollectionRawData, idx):null) ) }}
									</div>
									{% if grandchild.fieldType.displayOptions.lastOfRow is defined and grandchild.fieldType.displayOptions.lastOfRow %}
										</div><div class="row">
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_ContainerFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% if dataField.fieldType.displayOptions.label is defined and dataField.fieldType.displayOptions.label %}
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% if dataField.fieldType.displayOptions.icon is defined %}
						<i class="{{ dataField.fieldType.displayOptions.icon }}"></i> 
					{% endif %}
					{% if dataField.fieldType.displayOptions.label is defined and dataField.fieldType.displayOptions.label%}
						{{ dataField.fieldType.displayOptions.label }}
					{% else %}
						{{ dataField.fieldType.name }}
					{% endif %}
				</h3>
			</div>
			<div class="panel-body container-fluid">
	{% endif %}
	<div class="row">
		{% for child in dataField.children if not child.fieldType.deleted %}
		
			<div class="{% if child.fieldType.displayOptions.class is defined and child.fieldType.displayOptions.class  %}{{ child.fieldType.displayOptions.class }}{%else%}col-md-12{% endif %}">
				{{ macros|macro_fct(child.fieldType.type|replace({'\\': '_'}), child, compare, compareRawData) }}
			</div>
			{% if child.fieldType.displayOptions.lastOfRow is defined and child.fieldType.displayOptions.lastOfRow %}
				</div><div class="row">
			{% endif %}
		{% endfor %}
	</div>
    {% if dataField.fieldType.displayOptions.label is defined and dataField.fieldType.displayOptions.label %}
    		</div>
		</div>
	{% endif %}
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_NestedFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% if dataField.fieldType.displayOptions.label is defined %}
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% if dataField.fieldType.displayOptions.icon is defined %}
						<i class="{{ dataField.fieldType.displayOptions.icon }}"></i> 
					{% endif %}
					{% if dataField.fieldType.displayOptions.label is defined %}
						{{ dataField.fieldType.displayOptions.label }}
					{% else %}
						{{ dataField.fieldType.name }}
					{% endif %}
				</h3>
			</div>
			<div class="panel-body container-fluid">
	{% endif %}
	<div class="row">
	{% set compareSubRawData = null %}
	{% if compareRawData and attribute(compareRawData, dataField.fieldType.name) is defined %}
		{% set compareSubRawData = attribute(compareRawData, dataField.fieldType.name) %}
	{% endif %}

    {% for child in dataField.children if not child.fieldType.deleted %}
	<div class="{% if child.fieldType.displayOptions.class is defined and child.fieldType.displayOptions.class  %}{{ child.fieldType.displayOptions.class }}{%else%}col-md-12{% endif %}">
				{{ macros|macro_fct(child.fieldType.type|replace({'\\': '_'}), child, compare, compareSubRawData) }}
			</div>
			{% if child.fieldType.displayOptions.lastOfRow is defined and child.fieldType.displayOptions.lastOfRow %}
				</div><div class="row">
			{% endif %}
		{% endfor %}
	</div>
    {% if dataField.fieldType.displayOptions.label is defined %}
    		</div>
		</div>
	{% endif %}
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_TabsFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
            {% for child in dataField.children if not child.fieldType.deleted %}
            	<li class="{% if loop.index == 1%}active{% endif %}{% if child.fieldType.displayOptions.class is defined and child.fieldType.displayOptions.class != 'col-md-12' %} {{child.fieldType.displayOptions.class}}{% endif %}">
            		<a href="#item_{{ dataField.fieldType.id~'_'~loop.index }}__tab" data-toggle="tab" aria-expanded="false">
                        {% if child.fieldType.displayOptions.icon is defined and child.fieldType.displayOptions.icon%}
                        	<i class="{{ child.fieldType.displayOptions.icon }}"></i>
                        {% endif %}
                        {% if child.fieldType.displayOptions.label is defined %}
                            {{ child.fieldType.displayOptions.label }}
                        {% else %}
                            {{ child.fieldType.name }}
                        {% endif %}
					</a>
    			</li>
            	{% endfor %}
            </ul>
            <div class="tab-content">
            	{% for child in dataField.children if not child.fieldType.deleted %}
	              <div class="tab-pane{% if loop.index == 1%} active{% endif %}" id="item_{{ dataField.fieldType.id~'_'~loop.index }}__tab">
	              	{{ macros|macro_fct(child.fieldType.type|replace({'\\': '_'}), child, compare, compareRawData) }}
	              </div>
              {% endfor %}
            </div>
            <!-- /.tab-content -->
         </div>  
	{{ macros.messages(dataField) }}
{% endmacro %}


{% macro EMS_CoreBundle_Form_DataField_DataLinkFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>
            {{ diff_data_link(dataField.rawData, compare, dataField.fieldType.name, compareRawData) }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_SelectFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>
            {% set labels = dataField.fieldType.displayOptions.labels|replace({"\r":''})|split('\n') %}
            {% set choices = dataField.fieldType.displayOptions.choices|replace({"\r":''})|split('\n') %}
			<ul>
            	{{ diff_choice(dataField.rawData, labels, choices, compare, dataField.fieldType.name, compareRawData) }}
			</ul>
		
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_OuuidFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>{{ diff_text(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_ComputedFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	{% set doCompare = compare and dataField.rawData|json_encode is not same as( (attribute(compareRawData, dataField.fieldType.name) is defined?attribute(compareRawData, dataField.fieldType.name):null)|json_encode  )  %}
    {% set color = not doCompare ? '' : not dataField.rawData ? 'bg-red' : not compareRawData|get_string(dataField.fieldType.name) ? 'bg-green' : 'bg-orange' %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>
            {% if dataField.fieldType.displayOptions.displayTemplate %}
            	{% if doCompare  %}
					<div class="panel-body {{ color }}">
						<div class="col-md-6">{% if attribute(compareRawData, dataField.fieldType.name) is defined %}{{ dataField.fieldType.displayOptions.displayTemplate|generate_from_template({data: attribute(compareRawData, dataField.fieldType.name), dataField: dataField})|raw }}{% endif %}</div>
						<div class="col-md-6">{{ dataField.fieldType.displayOptions.displayTemplate|generate_from_template({data: dataField.rawData, dataField: dataField})|raw }}</div>
					</div>
                {% else %}
                    {{ dataField.fieldType.displayOptions.displayTemplate|generate_from_template({data: dataField.rawData, dataField: dataField})|raw }}
                {% endif %}
			{% else %}
				<div class="panel panel-default">
					<div class="panel-body {{ color }}">
						{% if doCompare  %}
							<pre class="ems-code-editor col-md-6" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ compareRawData|get_string(dataField.fieldType.name)|internal_links }}</pre>
							<pre class="ems-code-editor col-md-6" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ dataField.rawData|json_encode|internal_links }}</pre>
						{% else %}
							<pre class="ems-code-editor" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ dataField.rawData|json_encode|internal_links }}</pre>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_TextStringFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>{{ diff_text(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_TextareaFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<div class="panel panel-default">
				<div class="panel-body">
                    {{ diff_text(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
				</div>
			</div>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_JSONFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% set doCompare = compare and dataField.rawData|json_encode is not same as( compareRawData|get_string(dataField.fieldType.name) )  %}
    {% set color = not doCompare ? '' : not dataField.rawData ? 'bg-red' : not compareRawData|get_string(dataField.fieldType.name) ? 'bg-green' : 'bg-orange' %}
    <dl>
        <dt>
            {% if dataField.fieldType.displayOptions.label is defined %}
                {{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
            {% else %}
                {{ dataField.fieldType.name }}
            {% endif %}
        </dt>
        <dd>
            <div class="panel panel-default">
                <div class="panel-body {{ color }}">
                    {% if doCompare  %}
                        <pre class="ems-code-editor col-md-6" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ compareRawData|get_string(dataField.fieldType.name)|internal_links }}</pre>
                        <pre class="ems-code-editor col-md-6" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ dataField.rawData|json_encode|internal_links }}</pre>
                    {% else %}
                        <pre class="ems-code-editor" data-language="ace/mode/json" data-them="ace/theme/chrome">{{ dataField.rawData|json_encode|internal_links }}</pre>
                    {% endif %}
                </div>
            </div>
        </dd>
    </dl>
    {{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_WysiwygFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% set doCompare = compare and dataField.rawData is not same as( compareRawData|get_string(dataField.fieldType.name) )  %}
	{% set color = not doCompare ? '' : not dataField.rawData ? 'bg-red' : not compareRawData|get_string(dataField.fieldType.name) ? 'bg-green' : 'bg-orange' %}
	<dl>
		<dt class="{{ color }}">
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<div class="panel panel-default">
				<div class="panel-body">
                    {{ diff_html(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
				</div>
			</div>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_CodeFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% set doCompare = compare and dataField.rawData is not same as( compareRawData|get_string(dataField.fieldType.name) )  %}
    {% set color = not doCompare ? '' : not dataField.rawData ? 'bg-red' : not compareRawData|get_string(dataField.fieldType.name) ? 'bg-green' : 'bg-orange' %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<div class="panel panel-default">
				<div class="panel-body {{ color }}">
					{% if doCompare  %}
						<pre class="ems-code-editor col-md-6" data-language="{{ dataField.fieldType.displayOptions.language }}" data-them="{{ dataField.fieldType.displayOptions.theme }}" {% if dataField.fieldType.displayOptions.height %}style="height: {{ dataField.fieldType.displayOptions.height }}px;"{% endif %}>{{ compareRawData|get_string(dataField.fieldType.name)|internal_links }}</pre>
						<pre class="ems-code-editor col-md-6" data-language="{{ dataField.fieldType.displayOptions.language }}" data-them="{{ dataField.fieldType.displayOptions.theme }}" {% if dataField.fieldType.displayOptions.height %}style="height: {{ dataField.fieldType.displayOptions.height }}px;"{% endif %}>{{ dataField.rawData|internal_links }}</pre>
					{% else %}
						<pre class="ems-code-editor" data-language="{{ dataField.fieldType.displayOptions.language }}" data-them="{{ dataField.fieldType.displayOptions.theme }}" {% if dataField.fieldType.displayOptions.height %}style="height: {{ dataField.fieldType.displayOptions.height }}px;"{% endif %}>{{ dataField.rawData|internal_links }}</pre>
					{% endif %}
				</div>
			</div>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_PasswordFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			{% if dataField.textValue %}	
				***************
			{% else %}
				not defined
			{% endif %}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_EmailFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_text(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_IconFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_icon(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_ColorPickerFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_color(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}




{% macro EMS_CoreBundle_Form_DataField_RadioFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			{{ dataField.textValue|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_ChoiceFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    <dl>
		<dt class="">
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<ul>
			    {% set labels = dataField.fieldType.displayOptions.labels|replace({"\r":''})|split('\n') %}
			    {% set choices = dataField.fieldType.displayOptions.choices|replace({"\r":''})|split('\n') %}

				{{ diff_choice(dataField.rawData, labels, choices, compare, dataField.fieldType.name, compareRawData) }}
			</ul>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_CheckboxFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
    {% set doCompare = compare and dataField.rawData is not same as( attribute(compareRawData, dataField.fieldType.name) is defined ? attribute(compareRawData, dataField.fieldType.name) : null )  %}
    {% set color = not doCompare ? '' : 'bg-orange' %}
	<dl>
		<dt class="{{ color }}">
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_boolean(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
			{% if dataField.fieldType.displayOptions.question_label is defined and dataField.fieldType.displayOptions.question_label %}
				{{ dataField.fieldType.displayOptions.question_label }}
			{% endif %}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_NumberFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_raw(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_IntegerFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_raw(dataField.rawData, compare, dataField.fieldType.name, compareRawData)|raw }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_DateFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
			<ul>
				{{ diff_date(dataField.rawData, compare, dataField.fieldType.name, compareRawData, dataField.fieldType.displayOptions.displayFormat|convertJavascriptDateFormat, false, dataField.fieldType.mappingOptions.format|convertJavaDateFormat) }}

			</ul>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_DateRangeFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		{% set dateFrom = null %}
		{% if attribute(dataField.rawData, dataField.fieldType.mappingOptions.fromDateMachineName) is defined %}
			{% set dateFrom = attribute(dataField.rawData, dataField.fieldType.mappingOptions.fromDateMachineName) %}
		{% endif %}
		{% set dateTo = null %}
		{% if attribute(dataField.rawData, dataField.fieldType.mappingOptions.toDateMachineName) is defined %}
			{% set dateTo = attribute(dataField.rawData, dataField.fieldType.mappingOptions.toDateMachineName) %}
		{% endif %}
		
		
		<dd>
			<ul>
				{% set child = compareRawData %}
				{% if dataField.fieldType.mappingOptions.nested %}
					{% if attribute(compareRawData, dataField.fieldType.name) is defined  %}
                        {% set child = attribute(compareRawData, dataField.fieldType.name) %}
					{% else %}
                        {% set child = null %}
					{% endif %}
				{% endif %}
				{#{% set child = (dataField.fieldType.mappingOptions.nested ? (attribute(compareRawData, dataField.fieldType.name) is defined ? attribute(compareRawData, dataField.fieldType.name) : null ) : compareRawData, dataField.fieldType.displayOptions.locale.format|convertJavascriptDateRangeFormat) %}#}


                {% if dateFrom %}
					<li>
						<b>From </b>
                        {{ diff_date(dateFrom, compare, dataField.fieldType.mappingOptions.fromDateMachineName, child, dataField.fieldType.displayOptions.locale.format|convertJavascriptDateRangeFormat, false, constant('\\DateTime::ISO8601')) }}
					</li>	
				{% endif %}		
				{% if dateTo %}
					<li>
						<b>To </b>
                        {{ diff_date(dateTo, compare, dataField.fieldType.mappingOptions.toDateMachineName, child, dataField.fieldType.displayOptions.locale.format|convertJavascriptDateRangeFormat, false, constant('\\DateTime::ISO8601')) }}
					</li>	
				{% endif %}
				{% if dateFrom and dateTo %}
					<li>
						<b>Duration </b>
						{% if compare %}
							{% if attribute(child, dataField.fieldType.mappingOptions.fromDateMachineName) is defined and attribute(child, dataField.fieldType.mappingOptions.toDateMachineName) is defined %}
                                {{ diff(dateFrom|date_difference(dateTo, dataField.fieldType.displayOptions.timePicker), attribute(child, dataField.fieldType.mappingOptions.fromDateMachineName)|date_difference(attribute(child, dataField.fieldType.mappingOptions.toDateMachineName), dataField.fieldType.displayOptions.timePicker), compare, true) }}
							{% else %}
								<span class="text-green"><ins class="diffmod">{{ dateFrom|date_difference(dateTo, dataField.fieldType.displayOptions.timePicker) }}</ins></span>
							{% endif %}
						{% else %}
							{{ dateFrom|date_difference(dateTo, dataField.fieldType.displayOptions.timePicker) }}
						{% endif %}
					</li>
				{% endif %}
			</ul>
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}

{% macro EMS_CoreBundle_Form_DataField_TimeFieldType(dataField, compare, compareRawData) %}
{% import _self as macros %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
            {{ diff_time(dataField.rawData, compare, dataField.fieldType.name, compareRawData, dataField.fieldType.options|getTimeFieldTimeFormat, dataField.fieldType.mappingOptions.format|convertJavaDateFormat) }}
		</dd>
	</dl>
	{{ macros.messages(dataField) }}
{% endmacro %}