{% extends 'base.html.twig' %}

{% block title %}{{ view.name }} for {{view.contentType.pluralName}}{% endblock %}
{% block pagetitle %}{{ view.name }} for {{view.contentType.pluralName}}{% endblock %} 
{# {% block subtitle %}<!-- TODO -->{% endblock %} #}


{% block body %}

<div class="row">

	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Configuration</h3>
			</div>
			<!-- /.box-header -->
			
			<!-- form start -->
			{{ form_start(form) }}
				
				<div class="box-body">
				
				<div class="table-responsive">
						<table class="table table-bordered">
                <tbody><tr>
                  <td>&nbsp;</td>
                  <td width="66%">{{ form_row(form.columnCriteria) }}</td>
                </tr>
                <tr>
                  <td>{{ form_row(form.rowCriteria) }}</td>
                  <td>
                  	{% if form.category is defined %}
							{{ form_row(form.category) }}
					{% endif %}
				</td>
                </tr>
              </tbody></table></div>
					<div class="row" id="criterion">
						{{ form_widget(form.criterion) }}
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
							{{ form_row(form.manage) }}
{# 					<button type="submit" class="btn btn-primary" id="applyConfig">Apply</button>#}
				</div>
				{{ form_end(form) }}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="table_container">
	</div>
</div>

{% endblock %} 


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-view-'~ contentType.id ~ '-' ~ view.id
	}%}
	
	<script type="text/javascript">
<!--

//-->
function formatRepo (repo) {
    if (repo.loading) return repo.text;

    var markup = "<div class='select2-result-repository clearfix'>" +
      repo.text + "</div>";
      
    return markup;
}

function formatRepoSelection (repo) {
	return repo.text;
}

$(window).load(function() {



	$('.criteria-filter-columnrow').change(function(event){

		if($('#criteria_filter_columnCriteria option:selected').val() == $('#criteria_filter_rowCriteria  option:selected').val()){
			if($(this).attr('id') == 'criteria_filter_columnCriteria'){
				$('#criteria_filter_rowCriteria').val($('#criteria_filter_rowCriteria option:not(:selected)').first().val());

			}
			else {
				$('#criteria_filter_columnCriteria').val($('#criteria_filter_columnCriteria option:not(:selected)').first().val());

			}
		
		}

		$('div#criterion select').each(function(index){
			var criterionName = $( this ).closest('div[data-name]').data('name');
			var colCriteria = $('#criteria_filter_columnCriteria').val();
			var rowCriteria = $('#criteria_filter_rowCriteria').val();

			var attr = $(this).attr('multiple');

			
			if(criterionName == colCriteria || criterionName == rowCriteria) {
				objectPickerListeners($( this ));
			}
			else{
				if($(this).val() && $(this).val().length > 1){
					$(this).val('');
				}
				objectPickerListeners($( this ), 1);
			}

	 	});
	});


	$(".objectpicker").each(function(index){
		objectPickerListeners($( this ));
	});


	$('.criteria-filter-columnrow').trigger('change');
	
});






</script>
{% endblock %}	