{% trans_default_domain 'EMSCoreBundle' %}

{%  for dashboard in dashboardMenu.children %}
    <li class="notifications-menu">
        <a href="{{ path(dashboard.route, dashboard.routeParameters) }}"{% if dashboard.color %} class="text-{{ dashboard.color }}"{% endif %}>
            <i class="{{ dashboard.icon }}"></i>
        </a>
    </li>
{% endfor %}

 <li class="notifications-menu">
   <a href="{{ path('notifications.inbox') }}">
     <i class="fa fa-envelope-o"></i>
     {% if counter > 0 %}
     	<span class="label label-warning">{{ counter }}</span>
     {% endif %}
   </a>
 </li>