{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Edit "{{ contentType.singularName }}"  field: {{ field.name }}{% endblock %}
{% block pagetitle %}Edit "{{ contentType.singularName }}" field: {{ field.name }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path("emsco_admin_content_type_index") }}"><i class="fa fa-cubes"></i> Content Types</a></li>
		<li><a href="{{ path("emsco_admin_content_type_edit", {contentType: contentType.id}) }}"><i class="{{ contentType.icon }}"></i> Edit {{ contentType.singularName }}</a></li>
		<li><a href="{{ path("emsco_admin_content_type_reorder", {contentType: contentType.id}) }}"><i class="{{ contentType.icon }}"></i> Reorder {{ contentType.singularName }}</a></li>
		<li class="active">Field</li>
	</ol>
{% endblock %}

{% block body %}

    {{ form_start(form) }}

	<div class="row">
		<div class="col-md-12">

			<div class="box ">
				<div class="box-header with-border">
					<i class="fa fa-sitemap"></i>
					<h3 class="box-title">{{ contentType.singularName }}'s field: {{ field.name }}</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="col-md-12">
                        {{ form_row(form.fieldType) }}
					</div>



				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit_field_type_fieldType_modal_add">
                            <i class="fa fa-plus"></i> Subfield
                        </button>
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.saveAndClose) }}
					</div>
				</div>
			</div>
		</div>
	</div>

    {{ form_end(form) }}
    {% include '@EMSCore/app/menu.html.twig' with {
        'item':  'contenttype-list'
    }%}


{% endblock %}