{% trans_default_domain 'EMSCoreBundle' %}
{% for child in parent.children|filter(child => not child.deleted) %}

       	<li id="{{ child.id }}" class="{% if not (child.type~'::isContainer')|emsco_call_user_func %}mjs-nestedSortable-no-nesting{% endif %}">
        		<div class="box-header">
					<b>{{ child.name }}</b> {{ child.type }}

					<div class="btn-group  pull-right">
                        {% if contentType is defined %}
                            <a class="btn btn-xs btn-primary" href="{{ path('emsco_admin_content_type_edit_field', { contentType: contentType.id, field: child.id }) }}">
                                <i class="fa fa-edit"></i>
                                {{ 'view.contenttype.reorder_item.edit_field_button'|trans({'%name%': child.name}) }}
                            </a>
                        {% endif %}
					</div>
        		</div>
        		{% if (child.type~'::isContainer')|emsco_call_user_func and child.children|length > 0  %}
        			<ol>
                        {% include "@EMSCore/contenttype/reorder_item.html.twig" with {
                    		parent: child
                    	} %}
        			</ol>
            	{% endif %}
        	</li>

{% endfor %}
