{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Edit template {{ template.name }} for {{template.contentType.name}}{% endblock %}
{% block pagetitle %}Edit template {{ template.name }} for {{template.contentType.name}}{% endblock %} 
{% block subtitle %}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path("contenttype.index") }}"><i class="fa fa-cubes"></i> Content Types</a></li>
		<li><a href="{{ path("contenttype.edit", {id: template.contentType.id}) }}"><i class="{{ template.contentType.icon }}"></i> Edit {{ template.contentType.singularName }}</a></li>
		<li><a href="{{ path("template.index", {type: template.contentType.name}) }}">{{ 'Templates'|trans }}</a></li>
		<li class="active">{{ template.name }}</li>
	</ol>
{% endblock %}


{% block body %}

<div class="row">
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Edit template for {{template.contentType.name}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}
				
				<div class="box-body">
					{{ form_row(form.name) }}
					{{ form_row(form.icon) }}
					{{ form_row(form.public) }}
                    {{ form_row(form.environments) }}
					{{ form_row(form.body) }}
					{{ form_row(form.editWithWysiwyg) }}
                    {{ form_row(form.active) }}
                    {{ form_row(form.role) }}
                    {{ form_row(form.renderOption) }}
                    <div class="embed">
						{{ form_row(form.header) }}
					</div>
					<div class="export pdf">
                        {{ form_row(form.preview) }}
                        {{ form_row(form.disposition) }}
                        {{ form_row(form.allow_origin) }}
					</div>
					<div class="export">
						{{ form_row(form.accumulateInOneFile) }}
						{{ form_row(form.mimeType) }}
						{{ form_row(form.filename) }}
						{{ form_row(form.extension) }}
					</div>
					<div class="notification">
						{{ form_row(form.roleTo) }}
						{{ form_row(form.roleCc) }}
						{{ form_row(form.emailContentType) }}
						{{ form_row(form.circlesTo) }}
						{{ form_row(form.responseTemplate) }}
					</div>
					<div class="pdf">
                        {{ form_row(form.orientation) }}
                        {{ form_row(form.size) }}
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					{{ form_widget(form.save) }}
				</div>
			{{ form_end(form) }}

		</div>
		<!-- /.box -->
	</div>
</div>

{% include '@EMSCore/app/menu.html.twig' with {
    'item':  'contenttype-index'
}%}

{% endblock %} 

{% block frontend_application_css %}
    <link rel="stylesheet" href="{{ asset('bundles/emscore/css/template.bundle.css') }}">
{% endblock %}

{% block frontend_application_js %}
    <script src="{{ asset('bundles/emscore/js/template.bundle.js') }}"></script>
{% endblock %}