{% extends '@EMSCore/base-light.html.twig' %}
{% trans_default_domain 'emsco-core' %}

{% block title %}{{ dashboard.label }}{% endblock %}

{%- block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dashboard-browser.css', 'emscore') }}">
{% endblock %}

{%- block extraheader %}
    {%- if dashboard.option('header') is not null -%}
        {{- include(template_from_string(dashboard.option('header'), "Header template for Dashboard " ~ dashboard.name)) -}}
    {%- endif -%}
{% endblock %}

{% block main %}
    <div id="dashboard-browser" data-type="{{ dashboard.definition }}">
        {%- if dashboard.option('body') is not null -%}
            {{- include(template_from_string(dashboard.option('body'), "Body template for Dashboard " ~ dashboard.name)) -}}
        {%- endif -%}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dashboard-browser.js', 'emscore') }}"></script>
    {%- if dashboard.option('footer') is not null -%}
        {{- include(template_from_string(dashboard.option('footer'), "Footer template for Dashboard " ~ dashboard.name)) -}}
    {%- endif -%}
{% endblock %}