{% extends '@EMSCore/admin-form/abstract.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}{{ 'form.reorder.title'|trans({'%label%': entity.label}) }}{% endblock %}

{% block breadcrumb_items %}<li>{{ block('title') }}</li>{% endblock breadcrumb_items %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-solid">
            {{ form_start(form) }}
				<div class="box-body no-padding">
					<ol class="nested-sortable vertical" id="root-list" data-nested-max-level="15" data-nested-is-tree="true">
						{% include "@EMSCore/contenttype/reorder_item.html.twig" with {
							parent: entity.fieldType
						} %}
					</ol>
				</div>
				<div>
					<div class="box-footer">
						<div class="btn-group">
							{{ form_widget(form.reorder) }}
						</div>
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
