<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>body {overflow: hidden;}</style>
    {% apply spaceless %}
        {% if styleSet.assets.sha1|default %}
            {% do emsch_assets_version(styleSet.assets.sha1) %}
        {% endif %}
        {% if null != styleSet.contentCss %}
            <link rel="stylesheet" href="{{ asset(styleSet.contentCss, styleSet.saveDir == null ? 'emsch' : null) }}">
        {% endif %}
    {% endapply %}
</head>
<body class="wysiwyg-preview"
      data-field="{{ field }}"
      data-field-path="{{ fieldPath|e('html_attr') }}"
      {% if emsLink %}data-document-url="{{ path('emsco_interface_document_get', { interface: 'json', name: emsLink.contentType, ouuid: emsLink.ouuid }) }}"{% endif %} >
{% if null != styleSet.contentJs %}
    <script src="{{ asset(styleSet.contentJs, styleSet.saveDir == null ? 'emsch' : null) }}"></script>
{% endif %}
    <script type="application/javascript">
        let loaded = false;
        const resizeFct = function() {
            if (!loaded) {
                return;
            }
            window.parent.postMessage("resize", "{{ app.request.getSchemeAndHttpHost() }}");
        };
        const startReady = function() {
            if (loaded) {
                return;
            }
            window.parent.postMessage("ready", "{{ app.request.getSchemeAndHttpHost() }}");
            setTimeout(startReady, 1000);
        };

        window.addEventListener('message', function(event) {
            if (event.source !== window.parent) {
                console.log('Not a parent\'s message');
                return;
            }
            loaded = true;
            document.body.insertAdjacentHTML('afterbegin', event.data);
            resizeFct();
        });
        window.addEventListener("resize", resizeFct);
        window.addEventListener("redraw", resizeFct);
        window.addEventListener("load", resizeFct);
        startReady();
    </script>
</body>
</html>
