{% block environmentName %}
    {% set color = data.environmentColor|default(data.color|default('')) %}
    <span class="badge {% if color is not null %}{{ "bg-#{color}" }}{% endif %}">
        {{- data.environmentLabel|default(data.label|default('')) -}}
    </span>
{% endblock environmentName %}

{% block environmentIndex %}
    {{ data.indexes|map((i) => i.name)|join(', ') }}
{% endblock environmentIndex %}

{% block environmentIndexesModal %}
    {% set modalId = "modal-environment-#{table.attributeName}-#{data.id|default(data.name)}" %}
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#{{ modalId }}">
        {{ 'core.environment.index_count'|trans({'indexes': data.indexes|length }, 'emsco-core') }}
    </button>
    <div class="modal fade" id="{{ modalId }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'emsco-core') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'field.indexes'|trans({}, 'emsco-core') }}</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for index in data.indexes %}
                            <li class="list-group-item">
                                <span class="badge">{{ index.buildDate|date(date_time_format) }}</span>
                                <span class="badge">{{ index.count }}</span>
                                {{ index.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {{ 'action.close'|trans({}, 'emsco-core') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock environmentIndexesModal %}

{% block contentTypeViewType %}
    {% if line.data.type %}
        {{ t('core.content_type.view_type', {'value': line.data.type|u.trimPrefix('ems.view.') }, 'emsco-core')|trans }}
    {% endif %}
{% endblock contentTypeViewType %}

{% block contentTypeViewDefinition %}
    {% if line.data.definition %}
        {{ t('core.content_type.view_definition', {'value': line.data.definition}, 'emsco-core')|trans }}
    {% endif %}
{% endblock contentTypeViewDefinition %}

{% block dashboardType %}
    <i class="{{ [line.data.type, 'icon']|join('.')|trans({}, 'emsco-twigs') }}"></i>&nbsp;&nbsp;
    {{ [line.data.type, 'label']|join('.')|trans({}, 'emsco-twigs') }}
{% endblock dashboardType %}

{% block dashboardDefinition %}
    {% if line.data.definition %}
        {{ t('core.dashboard.definition', {'value': line.data.definition}, 'emsco-core')|trans }}
    {% endif %}
{% endblock dashboardDefinition %}

{% block jobStatus %}
    {% set p = line.data.progress %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ p }}" aria-valuemin="0" aria-valuemax="100" style="{{ "width: #{p}%;" }}">
            {{ "#{p}%" }}
        </div>
    </div>
    <div>{{ line.data.status }}</div>
{% endblock jobStatus %}

{% block i18nTranslations %}
    {% set modalId = "modal-i18n-#{data.id}" %}
    <a data-toggle="modal" data-target="#{{ modalId }}" class="btn btn-sm btn-default">
        <i class="fa fa-eye"></i>&nbsp;
        {{ data.content|length }}
    </a>
    <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalId }}-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'emsco-core') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="{{ modalId }}-title">
                        <i class="fa fa-language"></i>
                        {{ 'type.title_overview'|trans({'type': 'i18n_translations', 'key': data.identifier }, 'emsco-core') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'field.locale'|trans({}, 'emsco-core') }}</th>
                                <th>{{ 'field.text'|trans({}, 'emsco-core') }}</th>
                            </tr>
                            {% for translation in data.content %}
                                <tr>
                                    <td>{{ translation.locale }}</td>
                                    <td>{{ translation.text }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock i18nTranslations %}

