{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ view.name }} of {{contentType.name}}{% endblock %}
{% block pagetitle %}{{ view.name }} of {{contentType.name}}{% endblock %}
{% block subtitle %}{{ 'gallery view plugin'|trans }}{% endblock %}


{% block body %}


	<div class="row">
    	<div class="col-md-12">
            {% include "@EMSCore/elasticsearch/search-form-filter.html.twig" with {
				form: form,
			} %}
		</div>
	</div>
	<!-- /.row -->


      <div class="row">
        <div class="col-md-12">
        	<div class="box">
        		<div class="box-body">
                	<div id="myCarousel" class="carousel slide" data-ride="carousel">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                      	{% for item in data.hits.hits %}
                            <div class="item {% if loop.first %}active{% endif %}">
                          		{% set path = asset('images/logo.svg', 'emscore') %}
    	                        {% if attribute(item._source, view.options.imageField) is defined %}
                                    {% set file = attribute(item._source, view.options.imageField) %}
                                    {% set path = path('ems.file.view', {'sha1':file.sha1, 'type':file.mimetype, 'name':file.filename }) %}
                     				{% if view.options.imageAssetConfigIdentifier %}
                     				    {% set path = path('ems_asset_processor', {'hash':file.sha1, 'processor': view.options.imageAssetConfigIdentifier, 'type':file.mimetype, 'name':file.filename }) %}
                     				{% endif %}
	                            {% elseif view.options.missingImageHash %}
                                    {% set path = path('ems.file.view', {'sha1':view.options.missingImageHash }) %}
                     				{% if view.options.imageAssetConfigIdentifier %}
                     				    {% set path = path('ems_asset_processor', {'hash':view.options.missingImageHash, 'processor': view.options.imageAssetConfigIdentifier }) %}
                     				{% endif %}
	                            {% endif %}
                              <img
                              	src="{{ path }}"
                              	alt="{% if view.options.imageAltFields and attribute(item._source, view.options.imageAltFields) is defined %}{{ attribute(item._source, view.options.imageAltFields) }}{% endif %}"
                              	class="img-responsive center-block"
                              >
            				<div class="carousel-caption">
                              	<div class="btn-group text-center">{{ (item._source._contenttype~':'~item._id)|emsco_data_link|raw }}</div>
            				</div>
                            </div>
                        {% endfor %}
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
        		</div>

 				{% if view.options.thumbnailAssetConfigIdentifier %}
            		<div class="box-body">
            			<div class="table-responsive">
                          <table class="table">
                          	<tr>
                              	{% for item in data.hits.hits %}
                              		{% set path = asset('images/logo.svg', 'emscore') %}
        	                        {% if attribute(item._source, view.options.imageField) is defined %}
    	                                {% set file = attribute(item._source, view.options.imageField) %}
                       				    {% set path = path('ems_asset_processor', {'hash':file.sha1, 'processor': view.options.thumbnailAssetConfigIdentifier }) %}
    	                            {% elseif view.options.missingImageHash %}
                       				    {% set path = path('ems_asset_processor', {'hash':view.options.missingImageHash, 'processor': view.options.thumbnailAssetConfigIdentifier }) %}
    	                            {% endif %}
                     				 <td data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" >
                                      <img
                                      	src="{{ path }}"
                                      	alt="{% if view.options.imageAltFields and attribute(item._source, view.options.imageAltFields) is defined %}{{ attribute(item._source, view.options.imageAltFields) }}{% endif %}"
                                      	class=""
                                      >
                                      </td>

                                {% endfor %}
                          	</tr>
                          </table>
                        </div>
            		</div>
            	{% endif %}
        	</div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}
