{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('ems_core_query_search_index') }}"><i class="{{ 'view.icon.class.query_search'|trans }}"></i> {{ 'query_search.menu'|trans }}</a></li>
		<li>{{ block('title') }}</li>
   	</ol>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				{{ form_start(form) }}
				<div class="box-header with-border">
					<h3 class="box-title">{{ label|trans }}</h3>
				</div>

				<div class="box-body">
					<div class="row">
						{{ form_row(form.label) }}
						<div class="clearfix"></div>
						{{ form_row(form.name) }}
						<div class="clearfix"></div>
						{{ form_row(form.environments) }}
						<div class="clearfix"></div>
						{% for item in form.options %}
							<div class="clearfix"></div>
							{{ form_row(item) }}
						{% endfor %}
					</div>
				</div>
				<div class="box-footer">
					{{ form_widget(form.save, {
						'label': save_action_key
					}) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}