{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'release.add.title'|trans }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('emsco_release_index') }}"><i class="{{ 'view.icon.class.release'|trans }}"></i> {{ 'release.menu'|trans }}</a></li>
		<li>{{ block('title') }}</li>
   	</ol>
{% endblock %}

{% block body %}
    {% include "@EMSCore/release/form.html.twig" with {
    	label: 'release.add.title',
    } %}
{% endblock %}