{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'release.index.title'|trans }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="{{ 'view.icon.class.release'|trans }}"></i> {{ 'release.menu'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
	{%  set toolbar %}
		<a class="btn btn-primary" href="{{ path('emsco_release_add') }}"><i class="fa fa-plus"></i> {{ add_label|default(form.vars.add_label)|trans }}</a>
	{%  endset %}

	{% form_theme form '@EMSCore/form/forms.html.twig' %}
	{{ form(form, {
		toolbar: toolbar
	}) }}
{% endblock %}