{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}
    {%- if type == 'publish' -%}
        {{- 'release.revision.index.publish'|trans -}}
    {%- elseif type == 'unpublish' -%}
        {{- 'release.revision.index.unpublish'|trans -}}
    {%- endif -%}
{% endblock %}

{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('emsco_release_index') }}"><i class="{{ 'view.icon.class.release'|trans }}"></i> {{ 'release.menu'|trans }}</a></li>
		<li>{{ 'release.revision.menu'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
	{% form_theme form '@EMSCore/form/forms.html.twig' %}
	{{ form(form) }}
{% endblock %}
