{% extends 'base.html.twig' %}

{% block title %}Draft in progress for object {{ contentType.singularName }}{% endblock %}
{% block pagetitle %}Draft in progress for object {{ contentType.singularName }}{% endblock %} 


{% block body %}

{% if revisions %}
<div class="row">
	<div class="col-md-12">
		<div class="box ">
			<div class="box-header with-border text-{{ contentType.color }}">
				<i class=" {% if contentType.icon %}{{ contentType.icon }}{% else %}fa fa-book{% endif %}"></i>
				<h3 class="box-title"> {{ contentType.pluralName }} in progress</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive">
				<table class="table table-condensed table-striped">
					<tbody>
						<tr>
							<th class="text-center" style="width: 10px">#</th>
							<th>OUUID</th>
							<th>Label</th>
							<th>Locked</th>
							<th>Last update</th>
							<th>Action</th>
						</tr>
						{% for revision in revisions %}
							<tr>
								<td class="text-center">{{ loop.index }}.</td>
								<td>{{ revision.ouuid }}</td>
								<td>
								{% if revision.contentType.labelField is defined and revision.rawData and attribute(revision.rawData, revision.contentType.labelField) is defined %}
									{{ attribute(revision.rawData, revision.contentType.labelField) }}
								{% endif %}
								</td>
								<td>
									{% if revision.lockUntil and revision.lockUntil > date('now') %}
										{{ revision.lockBy }}
									{% endif %}
								</td>
								<td>
									{% if revision.autoSave %}
										autosave by {{ revision.autoSaveBy }} <br>
										at {{ revision.autoSaveAt|date(date_time_format) }}
									{% else %}
										draft 
										{% if revision.lockBy %}
											by {{ revision.lockBy }} <br>
										{% endif %}
										at {{ revision.modified|date(date_time_format) }}
									{% endif %}							
								
								</td>
								<td>
								
									<div class="btn-group">
										{% if revision.ouuid %}
											{% include 'elements/get-button.html.twig' with { 
													'url': path('data.revisions', {
														'type': revision.contentType.name,
														'ouuid': revision.ouuid,
														'revisionId': revision.id
													}), 
													'label': 'Revisions', 
													'icon': 'eye' }%}
										{% endif %}
										{% if not revision.contentType.circlesField or attribute(revision.rawData, revision.contentType.circlesField) is not defined or attribute(revision.rawData, revision.contentType.circlesField)|in_my_circles %}
											{% include 'elements/get-button.html.twig' with {
												'url':  path('revision.edit', {'revisionId': revision.id}),
												'label': 'Edit',
												'icon': 'pencil'
											}%}
											{% include 'elements/post-button.html.twig' with {
												'url': path('revision.discard', {'revisionId': revision.id}),
												'message': 'Discard this draft ?',
												'label': 'Discard',
												'icon': 'trash'
											}%}
										{% endif %}
				                    </div>
								
              
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>

			</div>
			<!-- /.box-body -->
		</div>
	</div>
</div>
{% else %}
	<div class="callout callout-success">
    	<h4>Empty</h4>
		<p>There is no draft in progress.</p>
    </div>
{% endif %}
{% endblock %}


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-draft-' ~ contentType.id
	}%}
{% endblock %}	