{% trans_default_domain 'EMSCoreBundle' %}

{% block item %}
    {%- set level = level + 1 -%}
    {%- set node = attribute(nodes, child.type|default(''))|default([]) -%}
    {%- set node = node|merge({
        'url': path('revision.edit.nested-modal', {'revisionId': revision.id, 'fieldTypeId': node.id, 'parentLevel': level })
    }) -%}
    {% if maxLevel > 0 and level <= maxLevel %}
        <li id="{{ child.id|default('%uuid%') }}" class="collapsible-container nestedSortable mjs-nestedSortable"
            data-label="{{ child.label|default('%label%') }}"
            {% if child.object is defined %}data-object="{{ child.object|json_encode }}"{% endif %}
            data-type="{{ child.type|default('%type%') }}"
            data-node="{{ node|json_encode }}">
            <div class="nestedSortable clearfix">
                <span>
                    <button style="display:none;" class="btn btn-default btn-sm button-collapse" role="button" aria-expanded="true"></button>
                </span>
                <span><i class="{{ node.icon|default('%icon%') }}"></i></span>
                <span class="itemLabel">{{ child.label|default('%label%') }}</span>
                <span class="pull-right">
                    {{ block('itemButtons') }}
                </span>
            </div>
            {% if child is defined and child.children|default([])|length > 0 %}
                <ol style="display:none;">
                    {%- for child in child.children -%}
                        {% set node = attribute(nodes, child.type|default(''))|default([]) %}
                        {{ block('item') }}
                    {%- endfor -%}
                </ol>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block itemPrototype %}
    <li id="%uuid%" class="collapsible-container nestedSortable mjs-nestedSortable" data-label="%label%" data-type="%type%">
        <div class="nestedSortable clearfix">
            <span>
                <button style="display:none;" class="btn btn-default btn-sm button-collapse" role="button" aria-expanded="true"></button>
            </span>
            <span><i class="%icon%"></i></span>
            <span class="itemLabel">%label%</span>
            <span class="pull-right item-buttons">%buttons%</span>
        </div>
    </li>
{% endblock %}

{% block itemButtons %}
    <div class="btn-group btn-group-sm">
        {% with { nodes: nodes, deny: node.deny, revision: revision, level: level, maxLevel: maxLevel } only %}
            {{ block('button_add') }}
        {% endwith %}
        <button type="button" class="btn btn-primary json-menu-nested-edit" data-action="edit"
                title="{{- 'field_type.json_menu_editor.edit'|trans -}}">
            <i class="fa fa-pencil"></i>&nbsp;<span>{{ 'field_type.json_menu_editor.edit'|trans }}</span>
        </button>
        <a type="button" class="btn btn-primary json_menu_sortable_handle_button"
           title="{{- 'field_type.json_menu_editor.move_item'|trans -}}">
            <i class="fa fa-arrows"></i>&nbsp;<span class="">{{ 'field_type.json_menu_editor.move_item'|trans }}</span>
        </a>
        <button type="button" class="btn btn-danger json_menu_sortable_remove_button"
                title="{{- 'field_type.json_menu_editor.delete_item'|trans -}}">
            <i class="fa fa-trash"></i>&nbsp;<span class="sr-only">{{- 'field_type.json_menu_editor.delete_item'|trans -}}</span>
        </button>
    </div>
{% endblock %}

{% block button_add %}
    {% if maxLevel > 0 and level < maxLevel %}
        <button type="button" class="btn btn-primary dropdown-toggle" data-level="{{ level }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-plus"></span>
            {{ 'field_type.json_menu_editor.add'|trans }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for node in nodes|filter(n => n.name not in deny|default([])) %}
                {%- set node = node|merge({
                    'url': path('revision.edit.nested-modal', {'revisionId': revision.id, 'fieldTypeId': node.id, 'parentLevel': level })
                }) -%}
                <li>
                    <a type="button" class="json-menu-nested-add" data-action="add" data-node="{{ node|json_encode }}">
                        {%- if node.icon|default(false) -%}<i class="{{ node.icon }}"></i>{%- endif -%}
                        {{ 'field_type.json_menu_editor.add_item'|trans({'%singular%': node.label}) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


