{% trans_default_domain 'EMSCoreBundle' %}

{% block item %}
    {%- set level = level + 1 -%}
    {%- set currentNode = attribute(nodes, child.type|default(''))|default([]) -%}
    {%- set currentNode = currentNode|merge({
        'url': path('revision.edit.nested-modal', {'revisionId': revision.id, 'fieldTypeId': currentNode.id, 'parentLevel': level })
    }) -%}
    {% if maxDepth == 0 or level <= maxDepth %}
        <li id="{{ child.id|default('%uuid%') }}" class="collapsible-container nestedSortable mjs-nestedSortable"
            data-label="{{ child.label|default('%label%') }}"
            {% if child.object is defined %}data-object="{{ child.object|json_encode }}"{% endif %}
            data-type="{{ child.type|default('%type%') }}"
            data-node="{{ currentNode|json_encode }}">
            <div class="nestedSortable nested-row">
                <button style="display:none;" class="btn btn-default btn-sm button-collapse" role="button" aria-expanded="true"></button>
                <i class="nested-icon {{ currentNode.icon }}"></i>
                <div class="itemLabel">{{ child.label }}</div>
                <div class="item-buttons json-menu-nested-actions">{{ block('itemButtons') }}</div>
            </div>
            {% if child is defined and child.children|default([])|length > 0 %}
                <ol style="display:none;">
                    {%- for child in child.children -%}
                        {% set currentNode = attribute(nodes, child.type|default(''))|default([]) %}
                        {{ block('item') }}
                    {%- endfor -%}
                </ol>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block itemPrototype %}
    <li id="%uuid%" class="collapsible-container nestedSortable mjs-nestedSortable" data-label="%label%" data-type="%type%">
        <div class="nestedSortable nested-row">
            <button style="display:none;" class="btn btn-default btn-sm button-collapse" role="button" aria-expanded="true"></button>
            <i class="nested-icon %icon%"></i>
            <div class="itemLabel">%label%</div>
            <div class="item-buttons json-menu-nested-actions">%buttons%</div>
        </div>
    </li>
{% endblock %}

{% block itemButtons %}
    <div class="btn-group pull-right">
        {%- if currentNode.minimumRole is null or is_granted(currentNode.minimumRole) -%}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle json-menu-nested-edit" data-action="edit"
                        title="{{- 'field_type.json_menu_editor.edit'|trans -}}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-pencil"></i>&nbsp;<span>{{ 'field_type.json_menu_editor.edit'|trans }}</span>
                </button>
            </div>
        {% endif %}
        {% with { nodes: nodes, currentNode: currentNode, revision: revision, level: level, maxDepth: maxDepth } only %}
            {{ block('button_add') }}
        {% endwith %}
        {{ block('button_more') }}
        {%- if currentNode.minimumRole is null or is_granted(currentNode.minimumRole) -%}
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-default json_menu_sortable_handle_button"
                   title="{{- 'field_type.json_menu_editor.move_item'|trans -}}">
                    <i class="fa fa-arrows"></i>&nbsp;<span class="">{{ 'field_type.json_menu_editor.move_item'|trans }}</span>
                </a>
                <button type="button" class="btn btn-sm btn-outline-danger json_menu_sortable_remove_button"
                        title="{{- 'field_type.json_menu_editor.delete_item'|trans -}}">
                    <i class="fa fa-trash"></i>&nbsp;<span class="sr-only">{{- 'field_type.json_menu_editor.delete_item'|trans -}}</span>
                </button>
            </div>
        {%- endif -%}
    </div>
{% endblock %}

{% block button_add %}
    {%- if (maxDepth == 0 or level < maxDepth) and currentNode.isLeaf|default(false) == false -%}
        {%- set deny = currentNode.deny|default([]) -%}
        {%- set addNodes = nodes|filter(n => n.name not in deny and ( n.minimumRole is null or is_granted(n.minimumRole) ) ) -%}

        <div class="btn-group btn-group-sm">
            {%- if addNodes|length > 0 -%}
                <button type="button" class="btn btn-default dropdown-toggle json-menu-nested-add-button"
                        data-level="{{ level }}"
                        data-types="{{ addNodes|keys|merge((level == 0 ? ['root'] : []))|json_encode }}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-plus"></span>
                    {{ 'field_type.json_menu_editor.add'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu {{ level > 0 ? 'pull-right' }}">
                    {%- for addNode in addNodes -%}
                        {%- set addNode = addNode|merge({
                            'url': path('revision.edit.nested-modal', {'revisionId': revision.id, 'fieldTypeId': addNode.id, 'parentLevel': level })
                        }) -%}
                        <li>
                            <a type="button" class="json-menu-nested-add" data-action="add" data-node="{{ addNode|json_encode }}">
                                {%- if addNode.icon|default(false) -%}<i class="{{ addNode.icon }}"></i>{%- endif -%}
                                {{ 'field_type.json_menu_editor.add_item'|trans({'%singular%': addNode.label}) }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        </div>
    {%- endif -%}
{% endblock %}

{% block button_more %}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu {{ level > 0 ? 'pull-right' }}">
            {%- if level == 0 -%}
                <li>
                    <button class="json_menu_sortable_copy_all_button">
                        <span class="fa fa-copy"></span>&nbsp;{{ 'field_type.json_menu_editor.copy_all'|trans }}
                    </button>
                </li>
                <li style="display:none;">
                    <button class="json_menu_sortable_paste_button">
                        <span class="fa fa-paste"></span>&nbsp;{{ 'field_type.json_menu_editor.paste'|trans }}
                    </button>
                </li>
            {%- else -%}
                <li>
                    <button class="json_menu_sortable_copy_button">
                        <span class="fa fa-copy"></span>&nbsp;{{ 'field_type.json_menu_editor.copy'|trans }}
                    </button>
                </li>
                {% if level < maxDepth %}
                    <li style="display:none;">
                        <button class="json_menu_sortable_paste_button">
                            <span class="fa fa-paste"></span>&nbsp;{{ 'field_type.json_menu_editor.paste'|trans }}
                        </button>
                    </li>
                {% endif %}
            {%- endif -%}
        </ul>
    </div>
{% endblock %}

{%- block renderPaste -%}
    {%- set nodes = fieldType.getJsonMenuNestedEditorNodes -%}
    {%- set maxDepth = fieldType.restrictionOption('json_nested_max_depth', 0)  %}
    <ol>
        {%- if data.type == 'root' -%}
            {% for child in data.children|default([]) %}
                {% with { nodes: nodes, child: child, revision: revision, level: 0, maxDepth: maxDepth } only %}
                    {{ block('item', '@EMSCore/form/fields/json_menu_nested_editor.html.twig') }}
                {% endwith %}
            {% endfor %}
        {%- else -%}
            {% with { nodes: nodes, child: data, revision: revision, level: 0, maxDepth: maxDepth } only %}
                {{ block('item', '@EMSCore/form/fields/json_menu_nested_editor.html.twig') }}
            {% endwith %}
        {%- endif -%}
    </ol>
{%- endblock -%}


