{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% if new %}
    {% set title = 'Add managed alias'|trans %}
{% else %}
    {% set title = 'Edit managed alias'|trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}
{% block pagetitle %}{{ title }}{% endblock %} 

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ title }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.label) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.extra) }}
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Indexes</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.align_indexes) }}
                    
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <th>Index</th>
                                <th>Total</th>
                            </tr>
                            {% for checkbox in form.indexes %}
                                <tr>
                                    <td>{{ form_widget(checkbox) }}</td>
                                    <td>{{ attribute(checkbox.vars.attr, 'data-count') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% include '@EMSCore/app/menu.html.twig' with {
        'item':  'environment-managed-alias'
    }%}
{% endblock %}

{% block frontend_application_css %}
    <link rel="stylesheet" href="{{ asset('managed-alias.css', 'emscore') }}">
{% endblock %}

{% block frontend_application_js %}
    <script src="{{ asset('managed-alias.js', 'emscore') }}"></script>
{% endblock %}
