{%- trans_default_domain 'EMSCoreBundle' -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="robots" content="noindex, nofollow">

    <title>{{ ems_shortname|striptags }}: {% block title %}elasticMS{% endblock %}</title>

    <!-- stylesheets -->
    {% block frontend_application_css %}
        <link rel="stylesheet" href="{{ asset('app.css', 'emscore') }}">
    {% endblock %}
    {%- if theme_color %}
        <link rel="stylesheet" href="{{ asset(''~theme_color~'.css', 'emscore') }}">
    {%- else -%}
        <link rel="stylesheet" href="{{ asset('blue.css', 'emscore') }}">
    {%-  endif %}

    {%- block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link rel="icon" sizes="128x128" type="image/png" href="{{ path('core-favicon') }}" />
    <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="{{ path('core-apple-touch-icon') }}">
    <link rel="manifest" href="{{ path('core-site-webmanifest') }}" />

    {%- block extraheader %}{% endblock %}
</head>


{%- set type_filters = [] -%}
{%- set all_types = false %}
{%- if emsco_get_content_types()|length > 0 -%}
    {%- for contentType in emsco_get_content_types()|filter(contentType => contentType.webContent) -%}
        {%- if all_types  -%}
            {% set all_types = all_types~','~contentType.name -%}
        {%- else %}
            {% set all_types = contentType.name -%}
        {%- endif -%}
        {%- set type_filters = type_filters|merge([[contentType.singularName, contentType.name ]]) -%}
    {%- endfor -%}
{%- endif -%}

{%- set type_filters = [['All content types'|trans, all_types ]]|merge(type_filters) -%}

<body class="hold-transition skin-{{ theme_color }} {% if app.user %}{% if app.user.layoutBoxed %}layout-boxed{% endif %}{% if app.user.sidebarCollapse %} sidebar-collapse{% endif %}{% if app.user.sidebarMini %} sidebar-mini{% endif %}{% endif %}"
      data-hash-algo="{{ ems_hash_algo|e('html_attr') }}"
      data-status-url="{{ path('elasticsearch.status', {_format: 'json'})|e('html_attr') }}"
      data-wysiwyg-type-filters="{{ type_filters|json_encode|e('html_attr') }}"
      data-wysiwyg-info="{{ emsco_wysiwyg_info()|e('html_attr') }}"
      data-search-api="{{ path('elasticsearch.api.search')|e('html_attr') }}"
      data-asset-path="{{ asset('')|e('html_attr') }}"
      data-init-upload="{{ path('emsco_file_data_init_upload')|e('html_attr') }}"
      data-file-view="{{ path('ems.file.view', { sha1: '__file_identifier__', name: '__file_name__' })|e('html_attr') }}"
      data-file-extract="{{ path('ems_file_extract', { sha1: '__file_identifier__', name: '__file_name__' })|e('html_attr') }}"
      data-file-extract-forced="{{ path('ems_file_extract_forced', { sha1: '__file_identifier__', name: '__file_name__' })|e('html_attr') }}">
    {% block main %}
<div class="main">

  <!-- container Main. Contains page content -->
  <div class="{% block containerClass %}container{% endblock %}">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% block pagetitle %}<strong>elastic</strong>MS{% endblock %}
        {% block subtitle %}{% endblock %}
      </h1>

      	{% block breadcrumb %}{% endblock %}
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      {% block body %}{% endblock %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- ./main -->
{% endblock main %}
    {% embed '@EMSCore/core/modal.html.twig' with {'id': 'ajax-modal'} %}{% endembed %}


    <!-- centralized webpack javascript -->
    {% block frontend_application_js %}{#ok#}
        <script src="{{ asset('app.js', 'emscore') }}"></script>
    {% endblock %}

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
     fixed layout. -->

	{% block javascripts %}{% endblock %}

</body>
</html>
