{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'Add a Filter'|trans }}{% endblock %}
{% block pagetitle %}{{ 'Add a Filter'|trans }}{% endblock %}
{% block subtitle %}<small>{{ 'expert mode'|trans }}</small>{% endblock %}
{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('emsco_filter_index') }}"><i class="fa fa-filter"></i> {{ 'Filters'|trans }}</a></li>
		<li>{{ 'Add a Filter'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}

    {% include "@EMSCore/filter/form.html.twig" with {
    	form: form,
    	label: 'Add a Filter'|trans,
    } %}
    
{% endblock %}