{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Add a new view for {{contentType.name}}{% endblock %}
{% block pagetitle %}Add a new view for {{contentType.name}}{% endblock %} 
{% block subtitle %}{% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path("contenttype.index") }}"><i class="fa fa-cubes"></i> Content Types</a></li>
		<li><a href="{{ path("contenttype.edit", {id: contentType.id}) }}"><i class="{{ contentType.icon }}"></i> Edit {{ contentType.singularName }}</a></li>
		<li><a href="{{ path("view.index", {type: contentType.name}) }}">{{ 'Views'|trans }}</a></li>
		<li class="active">{{ 'Add'|trans }}</li>
	</ol>
{% endblock %}


{% block body %}

<div class="row">
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">New view for {{contentType.name}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}
				
				<div class="box-body">
					{{ form_row(form.name) }}
                    {{ form_row(form.icon) }}
                    {{ form_row(form.public) }}
					{{ form_row(form.type) }}

				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					{{ form_widget(form.create) }}
				</div>
			{{ form_end(form) }}

		</div>
		<!-- /.box -->
	</div>
</div>

{% include '@EMSCore/app/menu.html.twig' with {
	'item':  'contenttype-index'
}%}
{% endblock %}
