{% trans_default_domain 'EMSCoreBundle' %}

{% block taskItem %}
    <li class="list-group-item clearfix">
        <div class="task-title">{{ task.title }}</div>
        <button class="btn-modal-edit-task pull-right"
                data-title="{{ 'task.update.title'|trans({ '%title%': task.title }) }}"
                data-url="{{ path('revision.tasks.update-modal', { revisionId: revision.id, taskId: task.id }) }}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
    </li>
{% endblock %}

{% block modalFooterClose %}
    <div class="pull-left">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
    </div>
{% endblock %}

{% block modalCreateBody %}
    {{ block('taskForm') }}
{% endblock %}

{% block modalCreateFooter %}
    <div class="pull-left">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary">{{ 'task.create.submit'|trans }}</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
{% endblock %}

{% block modalUpdateBody %}
    {{ block('taskForm') }}
{% endblock %}

{% block modalUpdateFooter %}
    <div class="pull-left">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary">{{ 'task.update.submit'|trans }}</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
    <div class="pull-right">
        <button type="button" id="btn-delete-task"
                data-url="{{ path('revision.tasks.delete', {'revisionId': revisionId, 'taskId': task.id}) }}"
                class="btn btn-sm btn-danger">{{ 'task.delete.submit'|trans }}</button>
    </div>
{% endblock %}

{% block taskForm %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{ form_row(form.title) }}</div>
        <div class="col-md-6">{{ form_row(form.deadline) }}</div>
        <div class="col-md-6">{{ form_row(form.assignee) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.description) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}