{% trans_default_domain 'EMSCoreBundle' %}

{% block taskItem %}
    <li class="list-group-item task-item {{ isCurrent|default(false) ? 'task-current' }}">
        <div class="task-info">
            <i class="fa fa-circle-o"></i>
            <div>
                <div class="task-title">{{ task.title }}</div>
                <div>{{ 'task.assigned_to'|trans }}<strong>{{ task.assignee|displayname }}</strong></div>
                {% if isCurrent|default(false) %}
                    <div>{{ 'task.in_progress'|trans|raw }}<strong>{{ 'in progress' }}</strong></div>
                {% endif %}
            </div>
        </div>
        <button class="btn-modal-edit-task btn btn-sm pull-right"
                data-title="{{ 'task.update.title'|trans({ '%title%': task.title }) }}"
                data-url="{{ path('revision.tasks.update-modal', { revisionId: revision.id, taskId: task.id }) }}">
            <i class="fa fa-pencil-square-o"></i>
        </button>
    </li>
{% endblock %}

{% block modalFooterClose %}
    <div class="pull-left">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
    </div>
{% endblock %}

{% block modalCreateBody %}
    {{ block('taskForm') }}
{% endblock %}

{% block modalCreateFooter %}
    <div class="pull-left">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary">{{ 'task.create.submit'|trans }}</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
{% endblock %}

{% block modalUpdateBody %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_task_info" data-toggle="tab" aria-expanded="true">{{ 'task.update.tab.info'|trans }}</a></li>
            <li><a href="#tab_task_history" data-toggle="tab" aria-expanded="false">{{ 'task.update.tab.history'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_task_info">
                {{ block('taskForm') }}
            </div>
            <div class="tab-pane" id="tab_task_history">
                <ul class="timeline">
                    <li>
                        <i class="fa fa-close bg-red"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                            <h3 class="timeline-header bg-info"><a href="#">You</a> rejected</h3>
                            <div class="timeline-body bg-gray-light">
                                Not good please correct
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-commenting-o bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                            <h4 class="timeline-header bg-info"><a href="#">John doe</a> finished</h4>
                            <div class="timeline-body bg-gray-light">
                                J'ai terminé les modifications. Je ne suis pas certain pour la partie après le paragraphe 2
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-plus bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                            <h3 class="timeline-header bg-info"><a href="#">You</a> created a new task</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block modalUpdateFooter %}
    <div class="pull-left">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary">{{ 'task.update.submit'|trans }}</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
    <div class="pull-right">
        <button type="button" id="btn-delete-task"
                data-url="{{ path('revision.tasks.delete', {'revisionId': revisionId, 'taskId': task.id}) }}"
                class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> {{ 'task.delete.submit'|trans }}</button>
    </div>
{% endblock %}

{% block taskForm %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{ form_row(form.title) }}</div>
        <div class="col-md-6">{{ form_row(form.deadline) }}</div>
        <div class="col-md-6">{{ form_row(form.assignee) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.description) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}