{# @var revision EMS\CoreBundle\Entity\Revision #}

{% block tab %}
    {% trans_default_domain 'EMSCoreBundle' %}
    <ul id="revision-tasks" class="list-group"
        data-url="{{ path('revision.tasks', {'revisionId': revision.id }) }}"
        data-load="{{ revision.tasks.isEmpty ? "false" : "true" }}">
        {# ajax loaded #}
    </ul>
    <button id="btn-modal-create-task"
            data-url="{{ path('revision.tasks.create-modal', {'revisionId': revision.id}) }}"
            data-title="{{ 'task.create.title'|trans }}"
            class="btn btn-sm btn-primary">{{ 'task.create.button'|trans }}</button>
{% endblock %}
