{% trans_default_domain 'EMSCoreBundle' %}
{# @var revision EMS\CoreBundle\Entity\Revision #}

{% block task %}
    <div class="task-loading">
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    </div>
    <div id="revision-task" data-url="{{ path('ems_core_task_ajax_task', { revisionId: revision.id  }) }}">
        {# ajax loaded #}
    </div>
{% endblock %}

{% block tasks %}
    {% if revision.isLockedFor(app.user.username) %}
        <div class="revision-tasks-info">{{- 'task.info.locked'|trans({
            '%user%': revision.lockBy|displayname,
            '%time%': revision.lockUntil.format(date_time_format)
        }) -}}</div>
    {% else %}
        <div id="revision-tasks-empty" class="revision-tasks-info" style="display:none;">{{ 'task.info.empty'|trans }}</div>
        <div id="revision-tasks-reorder" style="display:none;">
            <a id="btn-tasks-reorder" href="#">{{ 'task.info.change_order'|trans }}</a>
            <button id="btn-tasks-reorder-save" class="btn btn-xs btn-primary" style="display: none;"
                data-url="{{ path('ems_core_task_ajax_reorder', {'revisionId': revision.id }) }}">save</button>
            <button id="btn-tasks-reorder-cancel" class="btn btn-xs btn-default" style="display: none;">cancel</button>
        </div>
        <ul id="revision-tasks" class="list-group revision-tasks"
            data-url="{{ path('ems_core_task_ajax_tasks', {'revisionId': revision.id }) }}"
            data-load="{{ revision.hasTasks ? "true" : "false" }}">
            <li class="task-loading" {{ revision.hasTasks == false ? 'style="display:none;"' }}>
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            </li>
            {# ajax loaded#}
        </ul>
        <button id="btn-task-create-modal"
                data-url="{{ path('ems_core_task_ajax_modal_create', {'revisionId': revision.id}) }}"
                data-title="{{ 'task.create.title'|trans }}"
                class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> {{ 'task.create.button'|trans }}</button>
        <div id="revision-tasks-approved">
            <div id="revision-tasks-approved-link">
                {# ajax loaded #}
            </div>
            <ul id="revision-tasks-approved" class="list-group revision-tasks"
                data-url="{{ path('ems_core_task_ajax_tasks_approved', {'revisionId': revision.id}) }}">
                {#  ajax loaded#}
                <li class="task-loading" style="display:none;">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
