{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %} {{ 'Reorder the content type "%content_type%"'|trans({'%content_type%': contentType.singularName }) }}{% endblock %}
{% block pagetitle %}{{ 'Reorder the content type "%content_type%"'|trans({'%content_type%': contentType.singularName }) }}{% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path("contenttype.index") }}"><i class="fa fa-cubes"></i> Content Types</a></li>
		<li><a href="{{ path("contenttype.edit", {id: contentType.id}) }}"><i class="{{ contentType.icon }}"></i> Edit {{ contentType.singularName }}</a></li>
   		<li class="active">{{ 'Reorder'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h2 class="box-title">
					<i class="{% if contentType.icon %}{{ contentType.icon }} {% else %} fa fa-question {% endif %} "></i>
					{{ 'Reorder %name%\'s fields'|trans({'%name%': contentType.name}) }}
				</h2>
			</div>
			<div class="box-body no-padding">
				<ol class="sortable vertical" id="root-list">
                    {% include "@EMSCore/contenttype/reorder_item.html.twig" with {
                		parent: contentType.fieldType
                	} %}
				</ol>
			</div>
			<!-- /.box-body -->
			{{ form_start(form) }}
			<div>
				{% if form.addItem is defined  %}
				<div class="box-footer">
					{{ form_row(form.addItem) }}
				</div>
				<!-- /.box-footer -->
				{% endif %}
				<div class="box-footer">
					<div class="btn-group">
						{{ form_widget(form.reorder) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
			<!-- /.box-footer -->
		</div>
	</div>
</div>

{% endblock %} 

{% block javascripts %}

    {% include '@EMSCore/app/menu.html.twig' with {
		'item':  'contenttype-list'
	}%}
	
	
	<script type="text/javascript" src="{{ asset('bundles/emscore/bower/nestedSortable/jquery.mjs.nestedSortable.js') }}"></script>
	

<script type="text/javascript">
<!--

//-->

$(document).ready(function(){

	$('.sortable').nestedSortable({
		forcePlaceholderSize: true,
		handle: 'div',
		helper:	'clone',
		items: 'li',
		opacity: .6,
		placeholder: 'placeholder',
		revert: 250,
		tabSize: 25,
		tolerance: 'pointer',
		toleranceElement: '> div',
		maxLevels: 10,
		expression: /()(.+)/,

		isTree: true,
		expandOnHover: 700,
		startCollapsed: true
	});

	$('#reorder_reorder').click(function(e){
// 		e.preventDefault();
		hiered = $('ol.sortable').nestedSortable('toHierarchy', {startDepthCount: 0});
		console.log(getAssocArray(hiered));
		$('#reorder_items').val(JSON.stringify(getAssocArray(hiered))).trigger("change");
		console.log($('#reorder_items').val());
	})


	$(".objectpicker").each(function(index){
		objectPickerListeners($( this ));
	});
});
</script>
	
{% endblock %}	
