{% trans_default_domain 'EMSCoreBundle' %}

{% block render %}
    {%- set level = 0 -%}
    {%- set item = def.menu -%}
    {%- set itemJson = { 'id': item.id, 'label': item.label, 'type': item.type, 'object': (item.object|merge({ 'label': item.label }))  } -%}
    {%- set node = def.getNodeByName(item.type) -%}
    {%- set selectItemId = app.request.get('select-item-id', false) -%}
    <div class="core-json-menu json-menu-nested json-menu-nested-item {{ def.hasAction('move') ? 'json-menu-sortable' }}"
         data-item-id="{{ item.id }}"
         data-item="{{ itemJson|json_encode|e('html_attr') }}"
         data-item-actions="{{ def.itemActions|json_encode|e('html_attr') }}"
         data-nodes="{{ def.nodes|json_encode|e('html_attr') }}"
         data-urls="{{ def.urls|json_encode|e('html_attr') }}"
         {%- if selectItemId %}data-select-item-id="{{- selectItemId -}}"{% endif -%}
         {%- if def.hiddenFieldId != null %}data-hidden-field-id="{{ def.hiddenFieldId }}"{% endif -%}
        >
        <div class="json-menu-nested-loading"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>
        {% if def.hasAction('add') or def.hasAction('paste') or def.hasAction('copy') %}
            <span class="input-group-btn">
                {{ block('buttonAdd') }}
                {{ block('buttonMore') }}
            </span>
        {% endif %}
        <ol class="json-menu-list json-menu-root" data-list="root">
            {%- set level = level + 1 -%}
            {% for item in item.children %}{{ block('renderItem') }}{% endfor %}
        </ol>
    </div>
{% endblock %}

{% block renderItem %}
    {%- set node = def.getNodeByName(item.type) -%}
    {%- set itemJson = { 'id': item.id, 'label': item.label, 'type': item.type, 'object': (item.object|merge({ 'label': item.label }))  } -%}
    <li class="collapsible json-menu-nested-item {{ def.hasAction('move') ? 'json-menu-sortable mjs-nestedSortable' }}"
        data-item-id="{{ item.id }}"
        data-item="{{ itemJson|json_encode|e('html_attr') }}"
    >
        {{ block('itemDisplay') }}
        {% if item is defined and item.children|default([])|length > 0 %}
            <ol class="json-menu-list collapse" data-list="{{ item.id }}">
                {%- for childItem in item.children|default([]) -%}
                        {%- set level = level + 1 -%}
                        {%- with { 'item': childItem } -%}{{ block('renderItem') }}{% endwith %}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endblock %}

{%- block renderPaste -%}
    {%- set level =  1 -%}
    {%- for item in def.menu.children -%}{{- block('renderItem') -}}{%- endfor -%}
{%- endblock -%}

{% block itemDisplay %}
    <div class="json-menu-item">
        <button class="btn btn-default btn-sm btn-collapse" role="button" aria-expanded="false"></button>
        {%- if node.icon is defined -%}<i class="json-menu-item-icon {{ node.icon }}"></i>{%- endif -%}
        <div class="json-menu-item-label">{{ item.label }}</div>
        <div class="json-menu-item-actions">
            <div class="btn-group pull-right">
                {{ block('renderItemButtons') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block renderItemButtons %}
    {%- set isGranted = node.minimumRole is null or is_granted(node.minimumRole) -%}
    {%- if def.hasAction('edit') and isGranted -%}
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle btn-json-menu-nested-edit" data-action="edit"
                    title="{{- 'field_type.json_menu_editor.edit'|trans -}}"
                    data-item-id="{{ item.id }}"
                    data-node-id="{{ node.id }}"
                    data-level="{{ level }}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil"></i>&nbsp;<span>{{ 'field_type.json_menu_editor.edit'|trans }}</span>
            </button>
        </div>
    {% endif %}
    {% if def.hasAction('preview') %}
        <button type="button" class="btn btn-sm btn-json-menu-nested-preview btn-default"
            data-title="{{ item.label }}"
            data-item-id="{{ item.id }}">
            <span class="fa fa-eye"></span>
            {{ 'view.macros.data-field-type.menu-option-button'|trans }}
        </button>
    {% endif %}
    {{ block('buttonAdd') }}
    {{ block('buttonMore') }}
    {% if def.hasAction('move') and isGranted %}
        <a type="button" class="btn btn-sm btn-default btn-json-menu-move"
           title="{{- 'field_type.json_menu_editor.move_item'|trans -}}">
            <i class="fa fa-arrows"></i>
            {{ 'field_type.json_menu_editor.move_item'|trans }}
        </a>
    {% endif %}
    {% if def.hasAction('delete') and isGranted %}
        <button type="button" class="btn btn-sm btn-outline-danger btn-json-menu-delete"
                title="{{- 'field_type.json_menu_editor.delete_item'|trans -}}"
                data-item-id="{{ item.id }}">
            <i class="fa fa-trash"></i>&nbsp;<span class="sr-only">{{- 'field_type.json_menu_editor.delete_item'|trans -}}</span>
        </button>
    {% endif %}
{% endblock %}

{% block buttonAdd %}
    {%- if def.hasAction('add') and (def.maxDepth == 0 or level < def.maxDepth) and node.isLeaf|default(false) == false -%}
        {%- set deny = node.deny|default([]) -%}
        {%- set addNodes = def.nodes|filter(n => n.id != 'root' and n.name not in deny and (n.minimumRole is null or is_granted(n.minimumRole) ) ) -%}
        <div class="btn-group btn-group-sm">
            {%- if addNodes|length > 0 -%}
                <button type="button" class="btn btn-sm btn-default dropdown-toggle json-menu-nested-add-button"
                        data-types="{{ addNodes|keys|merge((level == 0 ? ['root'] : []))|json_encode }}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-plus"></span>
                    {{ 'field_type.json_menu_editor.add'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu {{ item.id != 'root' ? 'pull-right' }}">
                    {%- for addNode in addNodes -%}
                        <li>
                            <button type="button" class="btn-json-menu-nested-add"
                                    title="{{ 'field_type.json_menu_editor.add_item'|trans({'%singular%': addNode.label}) }}"
                                    data-item-id="{{ item.id }}"
                                    data-node-id="{{ addNode.id }}"
                                    data-level="{{ level }}">
                                {%- if addNode.icon|default(false) -%}<i class="{{ addNode.icon }}"></i>{%- endif -%}
                                {{ 'field_type.json_menu_editor.add_item'|trans({'%singular%': addNode.label}) }}
                            </button>
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        </div>
    {%- endif -%}
{% endblock %}

{% block buttonMore %}
    {% if item.id == 'root' and ( (def.hasAction('copy') and def.hasAction('move')) or def.hasAction('paste')) %}
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {%- if def.hasAction('copy') and def.hasAction('move') -%}
                    <li>
                        <button class="btn-json-menu-nested-copy-all">
                            <span class="fa fa-copy"></span>&nbsp;{{ 'field_type.json_menu_editor.copy_all'|trans }}
                        </button>
                    </li>
                {% endif %}
                {%- if def.hasAction('paste') -%}
                    <li style="display:none;">
                        <button class="btn-json-menu-nested-paste" data-item-id="{{ item.id }}" data-node-id="{{ node.id }}">
                            <span class="fa fa-paste"></span>&nbsp;{{ 'field_type.json_menu_editor.paste'|trans }}
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% elseif item.id != 'root' and (def.hasAction('copy') or def.hasAction('paste')) %}
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                {%- if def.hasAction('copy') -%}
                    <li>
                        <button class="btn-json-menu-nested-copy" data-item-id="{{ item.id }}">
                            <span class="fa fa-copy"></span>&nbsp;{{ 'field_type.json_menu_editor.copy'|trans }}
                        </button>
                    </li>
                {%- endif -%}
                {%- if def.hasAction('paste') and def.maxDepth == 0 or level < def.maxDepth -%}
                    <li style="display:none;">
                        <button class="btn-json-menu-nested-paste" data-item-id="{{ item.id }}" data-node-id="{{ node.id }}">
                            <span class="fa fa-paste"></span>&nbsp;{{ 'field_type.json_menu_editor.paste'|trans }}
                        </button>
                    </li>
                {%- endif -%}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block modalNested %}
    <div>
        {{ form_start(form) }}
        {{- form_errors(form.data) -}}
        {{ form_widget(form.data) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block modalPreview %}
    {%- if dataFields -%}
        {%- import "@EMSCore/macros/data-field-type.html.twig" as macros -%}
        {{ macros.renderDataField(dataFields, rawData, false, []) }}
    {%- else -%}
        <p class="text-red">{{ 'view.data.json-menu-nested-json-preview.field-type-not-found'|trans }}</p>
        <pre class="ems-code-editor" data-language="ace/mode/json" data-them="ace/theme/chrome">
            {{- rawData|json_encode(constant('JSON_PRETTY_PRINT')) -}}
        </pre>
    {%- endif -%}
{% endblock %}

{% block modalSaveFooter %}
    <div class="pull-right">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
{% endblock %}

{% block modalFooterClose %}
    <div class="pull-left">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
    </div>
{% endblock %}