{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Edit user "{{ user.displayName }}"{% endblock %}
{% block pagetitle %}Edit user "{{ user.displayName }}"{% endblock %}
{% block subtitle %}<small>User administration</small>{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Edit user {{ user.username }}</h3>
		</div>
		{{ form_start(form, { 'action': path('emsco_user_edit', {'user': user.id}) }) }}
    <div class="box-body">
    	<div class="col-md-6">
	    	{{ form_row(form.username) }}
	    	{{ form_row(form.displayName) }}
			{{ form_row(form.locale) }}
			{{ form_row(form.localePreferred) }}
	    	{{ form_row(form.email) }}
	    	{{ form_row(form.emailNotification) }}
	    	{{ form_row(form.enabled) }}
	    	{% if form.circles is defined %}
	    	    {{ form_row(form.circles) }}
	    	{% endif %}
			{{ form_row(form.wysiwygProfile) }}
            {{ form_row(form.expirationDate) }}
    	</div>
    	<div class="col-md-6">
            {% if form.userOptions.custom_options is defined %}
                <div class="row">
                    {{ form_row(form.userOptions.custom_options) }}
                </div>
            {% endif %}
			{{ form_row(form.userOptions) }}
	    	{{ form_row(form.roles) }}
    	</div>
    </div>
    <div class="box-footer">
	    	{{ form_row(form.update) }}
    </div>
		{{ form_end(form) }}
	</div>
	<!-- /.box -->

    {% include '@EMSCore/app/menu.html.twig' with {
        'item':  'user-index'
    }%}

{% endblock body %}


{% block frontend_application_css %}
	<link rel="stylesheet" href="{{ asset('user-profile.css', 'emscore') }}">
{% endblock %}

{% block frontend_application_js %}
	<script src="{{ asset('user-profile.js', 'emscore') }}"></script>
{% endblock %}
