{% extends '@EMSCore/dashboard/abstract.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}


{% block breadcrumb_items %}<li>{{ block('title') }}</li>{% endblock breadcrumb_items %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-body">
                    <div class="row">
                        {{ form_row(form.name) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.role) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.icon) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.label) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.color) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.sidebarMenu) }}
                        <div class="clearfix"></div>
                        {{ form_row(form.notificationMenu) }}
                        <div class="clearfix"></div>
                        {%  if form.type is defined %}
                            {{ form_row(form.type) }}
                            <div class="clearfix"></div>
                        {% endif %}
                        {%  if form.options is defined %}
                            {{ form_row(form.options) }}
                        {% endif %}
                    </div>
                </div>
                <div class="box-footer">
                    {%  if form.create is defined %}
                        {{ form_widget(form.create) }}
                    {% endif %}
                    {%  if form.save is defined %}
                        {{ form_widget(form.save) }}
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
