{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}{{ 'uploaded-file-logs.index.title'|trans }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><i class="{{ 'view.icon.class.uploaded-file'|trans }}"></i> {{ 'uploaded-file-logs.menu'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    {% form_theme form '@EMSCore/form/forms.html.twig' %}
    {{ form(form, {
        reorder_label: 'uploaded-file-logs.index.reorder'
    }) }}
{% endblock %}