{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Edit user {{ user.username }}</h3>
		</div>
		{{ form_start(form, { 'action': path('user.edit', {'id': user.id}), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="box-body">
    	<div class="col-md-6">
	    	{{ form_row(form.username) }}
	    	{{ form_row(form.displayName) }}
	    	{{ form_row(form.email) }}
	    	{{ form_row(form.enabled) }}
{# 	    	{{ form_row(form.locked) }}#}
	    	{% if form.circles is defined %}
	    	    {{ form_row(form.circles) }}
	    	{% endif %}
{# 	    	{{ form_row(form.expiresAt) }}#}
	    	{{ form_row(form.allowedToConfigureWysiwyg) }}
    		{% include "user/wysiwygOptions.html.twig" with {
				form: form
			} %}
    	</div>
    	<div class="col-md-6">
	    	{{ form_row(form.roles) }}
    	</div>
    </div>
    <div class="box-footer">
	    	{{ form_row(form.update) }}
    </div>
		{{ form_end(form) }}
	</div>
	<!-- /.box -->

{% endblock fos_user_content %}
{% block extra_javascripts %}
	{% include "user/wysiwygOptionsJS.html.twig" with {
		form: form
	} %}
{% endblock extra_javascripts %}