{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'channel.index.title'|trans }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><i class="{{ 'view.icon.class.channel'|trans }}"></i> {{ 'channel.menu'|trans }}</li>
   	</ol>
{% endblock %}

{% block body %}
	{% form_theme form '@EMSCore/form/forms.html.twig' %}
	{{ form(form, {
		reorder_label: 'channel.index.reorder',
		add_label: 'channel.add.title'
	}) }}
{% endblock %}