{% extends '@EMSCore/base.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}
	{%- if revision.labelField -%}
		{{ 'views.data.edit-revision-html.title'|trans({'%content-type%': revision.contentType.singularName, '%revision%': revision.labelField}) }}
	{%- elseif revision.contentType.labelField and attribute(revision.rawData, revision.contentType.labelField) is defined -%}
		{{ 'views.data.edit-revision-html.title'|trans({'%content-type%': revision.contentType.singularName, '%revision%': attribute(revision.rawData, revision.contentType.labelField) }) }}
	{%- elseif revision.ouuid -%}
		{{ 'views.data.edit-revision-html.title'|trans({'%content-type%': revision.contentType.singularName, '%revision%': revision.ouuid }) }}
	{%- else -%}
		{{ 'views.data.edit-revision-html.new-draft-title'|trans({'%content-type%': revision.contentType.singularName }) }}
	{%- endif -%}
{% endblock %}

{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block subtitle %}<small>{{ 'views.data.edit-revision-html.subtitle'|trans }}</small>{% endblock %}


{% block body %}
	{%- set stylesSetsConfig = {} -%}
    {%- if stylesSets is defined %}
        {%- for stylesSet in stylesSets -%}
			{%- set stylesSetsConfig = stylesSetsConfig|merge([{
				name: stylesSet.name,
				config:  stylesSet.config|json_decode
			}]) -%}
        {%- endfor -%}
    {%- endif -%}

<div class="box box-primary" id="revision-primary-box"
	data-update-mode="
		{%- if not revision.draft -%}
			disabled
		{%- elseif revision.contentType.autoPublish -%}
			autoPublish
		{%- else -%}
			autoSave
		{%- endif -%}"
	data-wysiwyg-config="
		{%- if app.user.wysiwygProfile and app.user.wysiwygProfile.config -%}
			{{- app.user.wysiwygProfile.config|e('html_attr') -}}
		{%- elseif app.user.wysiwygOptions -%}
			{{- app.user.wysiwygOptions|e('html_attr') -}}
        {%- else -%}
            {}
		{%- endif -%}"
	data-upload-url="{{ path('ems_image_upload_url')|e('html_attr') }}"
	data-image-url="{{ path('ems_images_index')|e('html_attr') }}"
	data-files-url="{{ path('ems_core_uploaded_file_wysiwyg_index')|e('html_attr') }}"
	data-styles-sets="{{ stylesSetsConfig|json_encode|e('html_attr') }}"
	data-ajax-update="{{ path('revision.ajaxupdate', { revisionId: revision.id })|e('html_attr') }}">
	<div class="box-header with-border">
		<h3 class="box-title text-{{ revision.contentType.color }}"><i class="{% if revision.contentType.icon %}{{ revision.contentType.icon }} {% else %} fa fa-question {% endif %} "></i>&nbsp;&nbsp;&nbsp;{{ revision.contentType.singularName }}</h3>
	</div>
		{{ form_start(form) }}
		<div class="box-body">
    	    {{- form_errors(form) -}}
    	    {{- form_errors(form.data) -}}
			{{ form_widget(form.data) }}
		</div>
		<div class="box-footer">
			{% if revision.draft %}
				<div class="btn-group">
					{% if form.publish is defined %}
						{{ form_widget(form.publish) }}
					{% endif %}
					{% if form.publish_version is defined %}
						<button type="button" id="btn-publish-version" class="btn-primary btn-sm btn"><span class="glyphicon glyphicon-open"></span>&nbsp;
							{{ form.publish_version.vars.label|trans(form.publish_version.vars.label_translation_parameters|default([])) }}
						</button>
						<div id="publish-version-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publish-version-modal">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">{{ 'views.data.edit-revision-html.publish-label'|trans({'%environment%': revision.contentType.environment.label}) }}</h4>
									</div>
									<div class="modal-body">
										{{ form_widget(form.publish_version_tags) }}
									</div>
									<div class="modal-footer">
										{{ form_widget(form.publish_version) }}
										<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-label="{{ 'views.data.edit-revision-html.version-modal.close-label'|trans }}">{{ 'views.data.edit-revision-html.version-modal.close-label'|trans }}</button>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			{% endif %}

			<div class="btn-group">
				{{ form_widget(form.save) }}
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% if form.copy is defined %}
							<li>{{ form_widget(form.copy) }}</li>
						{% endif %}
						{% if form.paste is defined %}
							<li>{{ form_widget(form.paste) }}</li>
						{% endif %}
						<li>
							{% include '@EMSCore/elements/post-button.html.twig' with {
								'url': path('revision.cancel', {'revision': revision.id}),
								'btnClass': '',
								'label': 'views.data.edit-revision-html.cancel-label'|trans,
								'icon': 'remove'
							}%}
						</li>
					</ul>
				</div>
			</div>

			{% if revision.draft %}
				{% include '@EMSCore/elements/post-button.html.twig' with {
					'url': path('revision.discard', {'revisionId': revision.id, 'type': revision.contentType.name}),
					'message': 'views.data.edit-revision-html.discard-draft-message'|trans,
					'btnType': 'outline-danger',
					'label': 'views.data.edit-revision-html.discard-draft-label'|trans,
					'icon': 'trash',
					'group_class': 'pull-right',
				}%}
			{% endif %}
		</div>
		{{ form_end(form) }}
</div>

{% if revision.draft %}
	{% include '@EMSCore/app/menu.html.twig' with {
		'item':  'data-draft-' ~ revision.contentType.id
	}%}
{% else %}
	{% include '@EMSCore/app/menu.html.twig' with {
		'item':  'data-index-' ~ revision.contentType.id
	}%}
{% endif %}

{% endblock %}

{% block frontend_application_css %}
	<link rel="stylesheet" href="{{ asset('bundles/emscore/css/edit-revision.bundle.css') }}">
{% endblock %}

{% block frontend_application_js %}
	<script src="{{ asset('bundles/emscore/js/edit-revision.bundle.js') }}"></script>
{% endblock %}
