{% trans_default_domain 'emsco-component' %}
{# @var template \EMS\CoreBundle\Core\Component\MediaLibrary\Template\MediaLibraryTemplate #}
{# @var config \EMS\CoreBundle\Core\Component\MediaLibrary\Config\MediaLibraryConfig #}

<div class="media-lib" id="{{ config.id }}" data-hash="{{ hash }}">
    <input type="file" id="media-lib-upload-{{- id -}}" class="file-uploader-input" multiple="multiple">
    <div class="media-nav-bar"></div>
    <div class="media-lib-content">
        <div class="media-lib-left-column">
            <div class="media-lib-folders">
                <ul class="media-lib-list-folders"></ul>
            </div>
        </div>
        <div class="media-lib-right-column">
            <div class="media-lib-files">
                <ul class="media-lib-list-uploads"></ul>
                <ul class="media-lib-list-files"></ul>
                <div class="media-lib-load-more">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                    <span>{{ 'media_library.file.load_more'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="media-lib-footer">
        {{ template.block('media_lib_footer', _context)|raw }}
    </div>
</div>
