{% trans_default_domain 'emsco-component' %}

{%- block buttonHome -%}
    {% apply spaceless %}
        <button class="btn btn-sm btn-default btn-home">
            <i class="fa fa-home" aria-hidden="true"></i> {{- 'media_library.home'|trans -}}
        </button>
    {% endapply %}
{%- endblock -%}

{%- block buttonAddFolder -%}
    {% apply spaceless %}
        <button class="btn btn-sm btn-default btn-add-folder">
            <i class="fa fa-folder" aria-hidden="true"></i> {{- 'media_library.folder.add.title'|trans -}}
        </button>
    {% endapply %}
{%- endblock -%}

{%- block buttonUpload -%}
    {% apply spaceless %}
        <input type="file" id="media-lib-upload-{{ id }}" class="file-uploader-input" multiple="multiple">
        <label class="btn btn-sm btn-primary" for="media-lib-upload-{{ id }}">
            <i class="fa fa-upload"></i> {{- 'media_library.file.add.title'|trans -}}
        </label>
    {% endapply %}
{%- endblock -%}

{% block breadcrumb %}
    {% if folder %}
        <ul class="media-lib-list-breadcrumb">
            <li><button class="breadcrumb-item">Home</button></li>
            {% for parent in folder.parents %}
                <li><button class="breadcrumb-item" data-id="{{ parent.id }}">{{ parent.name }}</button></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{%- block loadMore -%}
    <div class="media-lib-load-more">
        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
        <span>{{ 'media_library.file.load_more'|trans }}</span>
    </div>
{%- endblock -%}